@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 100rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 40rem) {
      @content;
    }
  } @else if $point==xs {
    @media (min-width: 30rem) {
      @content;
    }
  }
}

%grid {
  display: grid;
  grid-template-columns: calc(sqrt(2) * var(--corner-size)) repeat(12, 1fr) calc(sqrt(2) * var(--corner-size));
  align-content: flex-start;
}

%copy {
  font-family: var(--roboto);
  text-rendering: optimizeLegibility;
  font-variation-settings: 'wght' 400, 'wdth' 70;
  font-size: var(--ms-0);
  line-height: var(--baseline);
  letter-spacing: 0.002em;
  hyphens: auto;
}

%copy-large {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 300, 'wdth' 100;
  font-size: var(--ms-2);
  letter-spacing: 0.01em;
  word-spacing: 0.012em;
  line-height: calc(var(--baseline) * 1.5);
}
%copy-bold {
  @extend %copy;
  font-variation-settings: 'wght' 700, 'wdth' 95;
  letter-spacing: -0.01em;
}
%caption {
  @extend %copy;
  font-size: var(--ms--1);
  line-height: 1.2;
  letter-spacing: 0;
  font-variation-settings: 'wght' 400, 'wdth' 95, 'opsz' 5;
}
%caption-bold {
  @extend %caption;
  letter-spacing: -0.01em;
  font-variation-settings: 'wght' 700, 'wdth' 95, 'opsz' 5;
}
%sub-caption {
  @extend %caption;
  font-family: var(--montserrat);
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: var(--ms--2);
  font-variation-settings: 'wght' 300, 'wdth' 25, 'opsz' 5;
}
%h1 {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 600, 'wdth' 100;
  font-size: var(--ms-4);
  letter-spacing: -0.01em;
  line-height: calc(var(--baseline) * 5);
  @include bp(m) {
    font-size: var(--ms-6);
  }
}
%h2 {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 620, 'wdth' 96;
  font-size: var(--ms-4);
  line-height: calc(var(--baseline) * 1.5);
  letter-spacing: -0.01em;
  @include bp(m) {
    line-height: calc(var(--baseline) * 3);
    font-size: var(--ms-6);
  }
}
%h3 {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 600, 'wdth' 100;
  font-size: var(--ms-3);
  letter-spacing: -0.005em;
  line-height: calc(var(--baseline) * 1.5);
}
%h4 {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 600, 'wdth' 100;
  font-size: var(--ms-2);
  letter-spacing: 0em;
  line-height: calc(var(--baseline) * 1.33333);
}
%h5 {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 600, 'wdth' 100;
  letter-spacing: 0em;
}
%caps {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 300, 'wdth' 10;
  text-transform: uppercase;
  font-size: var(--ms-0);
  letter-spacing: 0.01em;
}
