@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 100rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 40rem) {
      @content;
    }
  } @else if $point==xs {
    @media (min-width: 30rem) {
      @content;
    }
  }
}

%grid {
  display: grid;
  grid-template-columns: calc(sqrt(2) * var(--corner-size)) repeat(12, 1fr) calc(sqrt(2) * var(--corner-size));
  align-content: flex-start;
}

%copy {
  font-family: var(--roboto);
  text-rendering: optimizeLegibility;
  font-variation-settings: 'wght' 400, 'wdth' 670, 'opsz' 25;
  font-size: var(--ms-0);
  line-height: 1.4;
  letter-spacing: 0.015em;
  hyphens: auto;
}

%copy-large {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 200, 'wdth' 100, 'opsz' 25;
  font-size: var(--ms-2);
  letter-spacing: 0.01em;
  word-spacing: 0.012em;
  line-height: 1.3;
}
%copy-bold {
  @extend %copy;
  font-variation-settings: 'wght' 700, 'wdth' 100, 'opsz' 25;
}
%caption {
  @extend %copy;
  font-size: var(--ms--1);
  font-variation-settings: 'wght' 400, 'wdth' 95, 'opsz' 5;
}
%caption-bold {
  @extend %caption;
  letter-spacing: -0.01em;
  font-variation-settings: 'wght' 700, 'wdth' 95, 'opsz' 5;
}
%h1 {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 700, 'wdth' 100, 'opsz' 144;
  font-size: var(--ms-4);
  @include bp(m) {
    font-size: var(--ms-7);
  }
}
%h2 {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 600, 'wdth' 110, 'opsz' 144;
  font-size: var(--ms-4);
  @include bp(m) {
    font-size: var(--ms-7);
  }
}
%h3 {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 600, 'wdth' 110, 'opsz' 144;
  font-size: var(--ms-3);
  @include bp(m) {
    font-size: var(--ms-5);
  }
}
%h4 {
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 300, 'wdth' 10, 'opsz' 14;
  text-transform: uppercase;
  font-size: var(--ms-0);
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
}
