@import 'vars';

.container {
  margin: var(--baseline) 0;
  position: relative;
  color: var(--fc-primary);
  
  @include bp(m) {
    float: right;
    margin-right: -6rem;
    max-width: 25rem;
    margin-left: 1em;
    margin-bottom: 1em;
  }


  p,
  ul,
  ol {
    margin-bottom: 0.5em;
    font-family: 'MontserratFlex';
    font-size: var(--ms-1);
    font-variation-settings: 'wght' 500;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul,
  ol {
    margin-left: 1em;
  }
}

.inner {
  mask: var(--mask-small);
  padding: 2.5em;
  background: var(--fc-light);
}

.title {
  @extend %h3;
  font-size: var(--ms-1);
  margin-bottom: calc(var(--baseline) * 0.5);
}

.eyebrow {
  @extend %caps;
  display: block;
}
