@import 'vars';

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--baseline) * 0.5);
  margin-bottom: calc(var(--baseline) * 0.5);
  width: var(--measure);
  max-width: 100%;
}

.medium {
  margin-top: calc(var(--baseline) * 1);
  margin-bottom: calc(var(--baseline) * 1);
}

.large {
  width: calc(var(--measure) * 1.5);
  margin-top: calc(var(--baseline) * 1.5);
  margin-bottom: calc(var(--baseline) * 1);
}
.full {
  width: 100%;
  padding: 0 var(--padding);
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: calc(var(--baseline) * 2);
  margin-bottom: var(--baseline);
}

.captions {
  @extend %caption;
  margin: 0 auto;
  max-width: var(--measure);
  padding-top: 1em;
  display: flex;
  flex-flow: column;
  margin-top: calc(var(--baseline) * -0.5);
  margin-bottom: calc(var(--baseline) * 0.5);
}
.caption {
  p {
    margin: 0 !important;
  }
}

.credit {
  @extend %sub-caption;
  display: block;
  padding-top: 0.25em;
}
