@import 'vars';

.container {
  padding: 1rem var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  border-top: 1px dotted var(--black);
}

.copy {
  display: flex;
  align-items: baseline;
  gap: 1.5em;
}

.menu {
  @extend %caption;
  ul {
    display: flex;
    list-style: none;
    gap: 0.75em;
  }
}

.copyright {
  @extend %sub-caption;
}

.logo {
  svg {
    height: 2rem;
    width: auto;
    display: block;
  }
  path {
    fill: var(--blue-dark);
  }
}
