@import 'vars';

.header {
  padding: 0 var(--padding);
  position: relative;
  z-index: 0;
  padding-top: var(--header-height);
  background: var(--fc-dark);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: var(--padding);
    bottom: 0;
    right: calc(var(--header-height) * sqrt(2) * 1);
    background: var(--blue);
    mask: var(--mask);
    z-index: 10;
  }
  &:after {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    bottom: var(--padding);
    right: var(--padding);
    background: var(--blue-dark);
    mask: var(--mask);
  }
}

.header-inner {
  @extend %grid;
  padding-top: 6em;
  padding-bottom: 12em;
  min-height: 60vh;
  color: var(--fc-knockout);
  mask: var(--mask);
  position: relative;
  z-index: 1000;
  @include bp(m) {
    min-height: 65vh;
    padding-top: 8em;
  }
  &:after {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, var(--fc-primary) 25%, transparent 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
}

.header-copy {
  grid-column: 2 / 13;
  position: relative;
  z-index: 200;
  @include bp(m) {
    grid-column: 5 / 13;
  }
}

.title {
  @extend %h1;
  font-family: var(--montserrat);
  font-size: var(--ms-7);
  line-height: 1;
  letter-spacing: -0.01em;
}

.intro {
  @extend %h3;
  font-variation-settings: 'wght' 400;
  margin-top: 0.25em;
  text-wrap: balance;
}

.header-image {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-captions {
  position: absolute;
  color: white;
  z-index: 1000;
  bottom: 0;
  right: var(--padding);
  background: rgba(black, 0.8);
  padding: 0.2em 0.5em;
  padding-bottom: 0.25em;
  transform-origin: bottom right;
  transform: rotate(90deg) translateY(100%);
  display: flex;
  gap: 0.5em;
  white-space: nowrap;
  transition: 300ms;
  @include bp(m) {
    white-space: inherit;
    transform: none;
    display: block;
    max-width: calc(var(--corner-size) * 0.8);
    left: var(--padding);
    bottom: var(--padding);
    right: auto;
    text-align: left;
    background: transparent;
  }
}

.header-caption {
  @extend %caption;
}

.header-credit {
  @extend %sub-caption;
  padding-top: 0.5em;
  opacity: 0.75;
}

.body {
  margin: 0 var(--padding);
  position: relative;
  @include bp(l) {
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
  }
  &:after {
    content: '';
    z-index: -10;
    background: var(--gray-light);
    position: absolute;
    top: -20%;
    left: calc(var(--padding) * -1);
    right: calc(var(--padding) * -1);
    height: 50rem;
    mask: var(--mask);
  }
}

.posts {
  @extend %grid;
  align-items: baseline;
  padding: 2rem 0;
  @include bp(l) {
    padding: 4rem 0;
  }
}

.section-title {
  @extend %caps;
  grid-column: 2 / 15;
  margin-bottom: 1em;
  @include bp(m) {
    margin-bottom: 0;
    grid-column: 1 / 2;
  }
  @include bp(l) {
    grid-column: 2 / 3;
  }
}

.posts-list {
  grid-column: 2 / 13;
  @include bp(l) {
    grid-column: 5 / 13;
  }
  li {
    list-style: none;
  }
}

.posts-group {
  margin-bottom: calc(var(--baseline) * 2);

  li:first-child .posts-item {
    padding-top: 0;
  }
  li:last-child .posts-item {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.posts-group-title {
  @extend %h4;
  margin-bottom: 0.75em;
}

.posts-group-has-title {
  li:first-child .posts-item {
    border-top: 1px solid var(--gray);
    padding-top: 1em;
  }
}

.posts-item {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1em;
  padding-top: 1em;
  display: block;
  &:hover,
  &:focus-visible {
    background: rgba(black, 0.03);
    .posts-title {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }
}

.posts-title {
  @extend %h3;
  margin-bottom: calc(var(--baseline) * 0.5);
  text-wrap: balance;
}
.posts-intro {
  @extend %copy;
}

.posts-meta {
  @extend %caption;
  margin-top: 1em;
  color: var(--gray-dark);
}

.posts-eyebrow {
  @extend %caption;
  display: block;
  margin-bottom: 0.75em;
  color: var(--fc-knockout);
  display: inline-block;
}
