@import 'vars';

.container {
  @extend %caps;
  font-variation-settings: 'wght' 300, 'wdth' 10;
  display: flex;
  border: 1px solid var(--white);
  overflow: hidden;
}

.item {
  display: block;
  list-style: none;
  color: white;
}

.item-current {
  background: var(--white);
  color: var(--blue-dark);
  border-right: 0 !important;
  border-left: 0 !important;
  .inner {
    &:hover,
    &:focus-visible {
      text-decoration: none;
    }
  }
}

.inner {
  display: flex;
  text-transform: uppercase;
  padding: 0em 0.3em;
  line-height: 1.4;
  height: 100%;
  align-items: center;
  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}
