@import 'vars';

.container {
  display: inline-flex;
  color: var(--white);
  border: 1px solid currentColor;
  overflow: hidden;
  font-size: inherit;
}

.item {
  display: block;
  list-style: none;
}

.item-current {
  background: var(--white);
  color: var(--blue-dark);
  border-right: 0 !important;
  border-left: 0 !important;
  .inner {
    &:hover,
    &:focus-visible {
      text-decoration: none;
    }
  }
}

.inner {
  display: flex;
  text-transform: uppercase;
  padding: 0.35em 0.5em;
  line-height: 1;
  height: 100%;
  align-items: center;
  &:hover,
  &:focus-visible {
    background: rgba(white, 0.2);
  }
}
