@import 'vars';
.container {
  --measure: calc(40 * var(--ms-0));
  padding-bottom: calc(var(--baseline) * 2);
  max-width: var(--measure);
  margin: 0 auto;

  p {
    margin-bottom: 1em;
  }
  em {
    @extend %copy-italics;
  }

  ul {
    margin-bottom: 1em;
    padding-right: 3em;
    li {
      margin-bottom: 0.25em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  & > ol,
  & > ul {
    margin-bottom: 1em;
    li {
      margin-left: 1.2em;
      margin-bottom: 0.25em;
    }
  }

  a {
    text-decoration: underline;
    background: var(--fc-light, var(--blue-shade));
  }

  sup {
    vertical-align: baseline;
    display: inline-block;
    font-size: 0.75em;
    height: 1.3em;
    width: 1.3em;
    border-radius: 1000px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    margin-right: 0.2em;
    font-feature-settings: 'tnum' 1;
    background: var(--fc-light);
    a {
      text-decoration: none !important;
      background: transparent;
    }
  }

  & > h2 {
    @extend %h3;
    margin-top: calc(var(--baseline) * 1);
    margin-bottom: calc(var(--baseline) * 0.25);
    @include bp(s) {
      margin-bottom: calc(var(--baseline) * 1);
      margin-top: calc(var(--baseline) * 2);
    }
    & + h3 {
      margin-top: calc(var(--baseline) * 0.75);
    }
    &:first-child {
      margin-top: 0;
    }
  }
  & > h3 {
    @extend %h4;
    margin-top: calc(var(--baseline) * 1.5);
    margin-bottom: calc(var(--ms-0) * 1);
  }

  p > svg {
    height: 0.65em;
    display: inline-block;
    path {
      fill: var(--fc-dark);
    }
  }
}
