@import 'vars';

.container {
  @extend %copy;
}

.header {
  padding: 0 var(--padding);
  padding-top: var(--header-height);
  background: var(--blue-dark);
  margin-bottom: calc(var(--baseline) * 2);
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -100%;
    left: var(--padding);
    right: var(--padding);
    bottom: calc(var(--padding) * 4);
    background: var(--blue);
    mask: var(--mask);
    z-index: 0;
  }
}

.header-inner {
  min-height: 70vh;
  padding-bottom: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: var(--fc-primary);
  mask: var(--mask);
}

.title {
  @extend %h2;
  text-align: center;
  text-wrap: balance;
  max-width: calc(var(--measure) * 1.5);
}

.intro {
  @extend %copy-large;
  text-align: center;
  max-width: calc(var(--measure) * 1.5);
  padding-top: var(--baseline);
}
