@import 'vars';

.container {
  position: relative;
  max-width: 100%;
  border-bottom: 1px solid rgba(white, 0.2);
  @include bp(s) {
    border: 1px solid var(--white);
  }
}

.input {
  @extend %copy;
  border: 0;
  background: transparent;
  color: var(--white);
  font-family: inherit;
  transition: width var(--fast);
  height: 100%;
  max-width: 100%;
  font-size: inherit;
  padding: 0.35em 0;
  padding-left: 1.85em;
  @include bp(s) {
    padding: 0;
    padding-left: 2em;
    width: 8em;
  }
  &::placeholder {
    opacity: 1;
    color: rgba(white, 0.75);
  }
  &:focus {
    outline: 0;
    background: rgba(black, 0.2);
    @include bp(s) {
      width: 12em;
    }
  }
}

.label {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-40%);
  @include bp(s) {
    transform: translateY(-35%);
    left: 0.5em;
  }
  svg {
    width: auto;
    height: 1em;
    @include bp(m) {
      height: 1.2em;
    }
  }
  path {
    fill: white;
  }
}

.label-text {
  position: absolute;
  font-size: 0;
  left: -9999px;
}

.choices {
  border: 1px solid var(--black);
  position: absolute;
  list-style: none;
  background: var(--white);
  width: Min(calc(100vw - var(--padding) * 2), 25em);
  top: calc(100% + 0.75rem);
  transition: var(--fast);
  transform: translateY(-5px);
  opacity: 0;
  overflow: hidden;
  left: 0;
  @include bp(m) {
    right: -1px;
    top: calc(100% + 0.5rem);
    left: auto;
  }
  li:last-child .choice {
    border-bottom: 0;
  }
}

.choices-active {
  opacity: 1;
  transform: translateY(0);
}

.choice {
  @extend %copy;
  display: block;
  border-bottom: 1px solid var(--gray);
  padding: 0.5em 0.5em;
  hyphens: none;
  width: 100%;
  align-items: baseline;
}

.choice-title {
  @extend %h5;
  display: block;
}

.choice-meta {
  @extend %sub-caption;
  color: var(--blue-dark);
  display: block;
  padding-top: 0.25em;
}

.selected {
  background: var(--gray-light);
  cursor: pointer;
  .choice-title {
    text-decoration: underline;
  }
}
