@import 'vars';

.container {
  padding: 1em calc(var(--padding) * 2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px dotted var(--white);
}

.title {
  display: flex;
  align-items: center;
  gap: 0.25em;
  color: var(--white);
  font-size: 1.75rem;
  font-family: var(--montserrat);
  font-variation-settings: 'wght' 700, 'wdth' 110, 'opsz' 45;
  svg {
    height: 1em;
    width: auto;
    display: block;
  }
  path {
    fill: currentColor;
  }
}

.year {
  font-variation-settings: 'wght' 200, 'wdth' 110, 'opsz' 45;
  font-feature-settings: 'onum' 1;
}
