@import 'vars';

.container {
  height: var(--header-height);
  padding: 0 var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(black, 0.2);
  *:focus-visible {
    outline-color: white;
    outline-offset: 2px;
  }
}

.title {
  display: flex;
  align-items: center;
  font-family: var(--montserrat);
  color: var(--color);
  font-variation-settings: 'wght' 550, 'wdth' 120;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-left: var(--padding);
  white-space: nowrap;
  gap: 0.25em;
  @include bp(s) {
    font-size: 1.6rem;
  }
  svg {
    height: 1em;
    width: auto;
    display: block;
  }
  path {
    fill: currentColor;
  }
  a {
    padding: 0.2em;
    margin-left: -0.2em;
    border-radius: 4px;
    transition: 80ms;
    &:hover,
    &:focus-visible {
      background: rgba(white, 0.15);
      text-decoration-thickness: 1px;
    }
  }
}

.year {
  font-variation-settings: 'wght' 250, 'wdth' 130;
  font-feature-settings: 'onum' 1;
}

.toggle-menu {
  width: 2.5rem;
  padding: 0.35rem;
  position: relative;
  z-index: 2000;
  font-size: 0;
  cursor: pointer;
  @include bp(s) {
    display: none;
  }
}

.menu {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  right: calc(var(--padding) + 1.25rem);
  height: 100vh;
  z-index: 1000;
  flex-flow: column;
  padding: var(--padding);
  padding-right: 4rem;
  background: var(--blue-dark);
  transform: translateX(-100%);
  transition: var(--fast);
  align-items: flex-start;
  font-size: var(--ms-2);

  @include bp(s) {
    flex-flow: row;
    padding: 0;
    height: auto;
    transform: translateX(0);
    justify-content: flex-end;
    align-items: stretch;
    background: transparent;
    position: static;
    font-size: var(--ms--1);
  }
}

.menu-link {
  color: var(--white);
  display: inline-flex;
  font-size: inherit;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgba(white, 0.2);
  padding: 0.3em 0;
  padding-bottom: 0.35em;
  gap: 0.35em;
  @include bp(s) {
    gap: 0.4em;
    border: 1px solid var(--white);
    text-transform: uppercase;
    padding: 0 0.5em;
    padding-top: 0.1em;
    padding-right: 0.75em;
    width: auto;
    font-variation-settings: 'wght' 300, 'wdth' 150;
  }
  svg {
    width: auto;
    height: 1.4em;
    @include bp(s) {
      height: 1.85em;
    }
  }
  path {
    fill: currentColor;
  }
  &:hover,
  &:focus-visible {
    background: rgba(white, 0.05);
    @include bp(s) {
      color: var(--blue-dark);
      background: var(--white);
    }
  }
}

.menu-active {
  transform: translateX(0);
  pointer-events: all;
}

.menu-backdrop {
  background: rgba(black, 0.65);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  pointer-events: none;
  opacity: 0;
  transition: var(--fast);
}

.menu-backdrop-active {
  opacity: 1;
  pointer-events: all;
}

.menu-main {
  width: 100%;
  @include bp(s) {
    display: contents;
  }
}

.tools {
  @extend %caption;
  border-top: 1px solid rgba(white, 0.15);
  width: 100%;
  padding-top: 0.75em;
  font-size: var(--ms-0);
  @include bp(s) {
    font-size: var(--ms--1);
    display: contents;
  }
}
