@import 'vars';

.container {
  @extend %caps;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  top: 0.75rem;
  height: 2rem;
  padding: 0 0.65em;
  padding-top: 0.1em;
  display: inline-flex;
  align-items: center;
  background: rgba(white, 0.75);
  border-radius: 100px;
  outline-offset: 3px;
  border-top: 0;
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  &:focus-visible {
    opacity: 1;
    outline: 2px solid white;
    pointer-events: all;
  }
}
