@import 'vars';

.container {
  @extend %copy-bold;
  position: absolute;
  top: 0;
  left: var(--padding);
  transform: translateY(-100%);
  transition: var(--fast);
  display: block;
  padding: 0.4em 0.6em;
  background: white;
  border-top: 0;
  z-index: 10000;
  border-bottom-left-radius: var(--br-small);
  border-bottom-right-radius: var(--br-small);
  &:focus-visible {
    transform: translateY(0);
  }
}
