@import 'vars';

.wrapper {
  margin: calc(var(--baseline) * 1) 0;
  overflow-x: auto;
  
  @include bp(m) {
    margin: calc(var(--baseline) * 1.5) 0;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--ms--1);
  line-height: 1.3;

  @include bp(s) {
    font-size: var(--ms-0);
  }

  thead {
    tr {
      border-bottom: 1px solid var(--black);
    }
    
    th {
      font-style: italic;
      text-align: left;
      padding: calc(var(--baseline) * 0.05) calc(var(--baseline) * 0.05);
      vertical-align: top;
      
      @include bp(s) {
        padding: calc(var(--baseline) * 0.05) calc(var(--baseline) * 0.30);
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--gray-light);
      
      &:last-child {
        border-bottom: none;
      }
    }

    td {
      padding: calc(var(--baseline) * 0.05) calc(var(--baseline) * 0.05);
      vertical-align: top;
      
      @include bp(s) {
        padding: calc(var(--baseline) * 0.3) calc(var(--baseline) * 0.3);
      }

      ul {
        margin: 0;
        padding-left: 1.2em;
        
        li {
          margin-bottom: 0.5em;
          
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
