@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 100rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 30rem) {
      @content;
    }
  }
}

$text-border: 2px solid var(--gray-30);

%copy {
  font-feature-settings: 'onum' 1, 'liga' 1;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  line-height: 1.4;
  word-spacing: 0.001em;
  letter-spacing: -0.0035em;
  font-size: var(--ms-0);
  a {
    text-decoration: underline;
  }
  p {
    margin-bottom: 0.65em;
  }
  & > h2 {
    @extend %h2;
    margin-top: 1em;
    margin-bottom: 0.25em;
    &:first-child {
      margin-top: 0;
    }
    & + h3,
    & + table {
      margin-top: 0.25rem;
    }
  }
  & > h3 {
    @extend %h3;
    margin-top: 1em;
    margin-bottom: 0.125em;
    & + h4,
    & + table {
      margin-top: 0.25rem;
    }
  }
  & > h4 {
    @extend %h4;
    margin-top: 1rem;
    margin-bottom: 0.125rem;
  }
}

%copy-large {
  line-height: 1.25;
  font-size: var(--ms-0);
  hyphens: auto;
  letter-spacing: -0.015em;
  @include bp(m) {
    font-size: var(--ms-1);
  }
}

%mono {
  font-family: var(--mono);
  font-size: var(--mono-size);
  letter-spacing: -0.015em;
  word-spacing: -0.025em;
  line-height: 1.45;
  text-underline-offset: 0.15em;
}

%h2 {
  font-size: var(--ms-2);
  letter-spacing: -0.015em;
  line-height: 1.05;
  font-weight: 600;
}

%h3 {
  font-size: var(--ms-1);
  letter-spacing: -0.015em;
  font-weight: 600;
  line-height: 1.1;
}

%h4 {
  font-size: var(--ms-0);
  letter-spacing: -0.005em;
  font-weight: 500;
}

%caption {
  font-size: var(--ms--1);
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.005em;
}

%grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 5rem) minmax(auto, 45rem) minmax(auto, 5rem) 1fr;
  column-gap: var(--padding);
}
