@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 100rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 30rem) {
      @content;
    }
  }
}

%copy {
  font-feature-settings: 'onum' 1, 'liga' 1;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  line-height: 1.375;
  letter-spacing: 0.001em;
  word-spacing: 0.001em;
  font-size: var(--ms-0);
  a {
    text-decoration: underline;
  }
  p {
    margin-bottom: 0.85em;
  }
  & > h2 {
    @extend %h2;
  }
  & > h3 {
    @extend %h3;
  }
  & > h4 {
    @extend %h4;
  }
}

%copy-large {
  line-height: 1.2;
  font-size: var(--ms-0);
  hyphens: auto;
  letter-spacing: -0.015em;
  @include bp(m) {
    font-size: var(--ms-1);
  }
}

%mono {
  font-family: var(--mono);
  font-size: var(--mono-size);
  letter-spacing: -0.01em;
  word-spacing: -0.02em;
  line-height: 1.4;
}

%h2 {
  font-size: var(--ms-2);
  letter-spacing: -0.02em;
  line-height: 1.05;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.25em;
  &:first-child {
    margin-top: 0;
  }
  & + h3,
  & + table {
    margin-top: 0.25rem;
  }
}

%h3 {
  font-size: var(--ms-1);
  letter-spacing: -0.025em;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 1em;
  margin-bottom: 0.125em;
}

%h4 {
  font-size: var(--ms-0);
  letter-spacing: -0.005em;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.125rem;
}

%caption {
  font-size: var(--ms--1);
  line-height: 1.25;
  font-weight: 400;
}

%grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 5rem) minmax(auto, 45rem) minmax(auto, 5rem) 1fr;
  column-gap: 2rem;
}
