@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 100rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 35rem) {
      @content;
    }
  }
}

%h2 {
  font-size: var(--ms-2);
  letter-spacing: -0.01em;
  line-height: 1.15;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.75em;
  &:first-child {
    margin-top: 0;
  }
  & + h3 {
    margin-top: 0;
  }
}

%h3 {
  font-size: var(--ms-1);
  font-weight: 600;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  & + table,
  & + h4 {
    margin-top: 0.65em;
  }
}

%h4 {
  text-transform: uppercase;
  font-size: var(--ms--1);
  letter-spacing: 0.035em;
  color: var(--blue-80);
  margin-top: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

%caption {
  font-size: var(--ms--1);
  line-height: 1.25;
}
