@import 'vars';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / 6;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include bp(m) {
    grid-column: 3 / 4;
  }
}

.disclaimer {
  font-family: var(--sans);
  font-size: 0.8em;
  color: #000000;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
 // margin-right: 1rem;
  padding-left: 0.5rem;
  padding-right: 2rem;
  border-left: 3px solid #183B78;
 // text-align: left;
  //width: 100%;
}

.imageLink {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.imageWrapper {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 20% 1rem 16%;
  color: white;

  @include bp(s) {
    padding: 1rem 20% 1rem 18%;
  }
}

.title {
  font-family: var(--sans);
  font-weight: 700;
  font-size: 0.75rem;
  color: white;
  margin-bottom: 0.25rem;
  margin-left: 1.5rem;
  
  
  
  @include bp(s) {
    font-size: 0.85rem;
  }
  @include bp(sm) {
    font-size: 1.05rem;
  }
  @include bp(m) {
    font-size: 1.25rem;
  }
  @include bp(l) {
    font-size: 1.25rem;
  }
}

.subtitle {
  font-family: var(--sans);
  font-weight: 400;
  font-size: 0.65rem;
  margin-left: 1.5rem;
  @include bp(s) {
    font-size: 0.75rem;
  }
  @include bp(sm) {
    font-size: 0.85rem;
  }
  @include bp(m) {
    font-size: 0.95rem;
  }
  @include bp(l) {
    font-size: 1.05rem;
  }
}

.podcastWrapper {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 1rem;

  .podcast {
    font-family: var(--sans);
    font-weight: 200;
    font-size: 0.75rem;
    color: #183B78;
    text-decoration: none;
  }
}

