.container {
  font-weight: 400;
  display: inline-flex;
  padding: 0.35em 0.65em;
  border-radius: 6px;
  text-decoration-width: 1px;
  cursor: pointer;
  gap: 0.25em;
  transition: var(--fast);
  align-items: baseline;
}

.primary {
  background: var(--blue-90);
  color: white;
  &:hover,
  &:focus-visible {
    background: var(--blue-80);
  }
}
.secondary {
  background: var(--gray-20);
  border: 1px solid var(--gray-20);
  color: var(--blue-90);
  &:hover,
  &:focus-visible {
    border: 1px solid var(--blue-80);
  }
}
.tertiary {
  background: var(--gray-20);
  color: var(--blue-90);
}

.has-icon {
  padding-right: 0.5em;
}

.hide-label {
  padding: 0.3em;
  .label {
    position: absolute;
    font-size: 0;
    pointer-events: none;
  }
}

.icon {
  position: relative;
  svg {
    height: 1.35em;
    width: auto;
    display: block;
  }
}
