.container {
  color: white;
  font-weight: 500;
  display: inline-flex;
  padding: 0.3em 0.75em;
  padding-bottom: 0.4em;
  border-radius: 8px;
  text-decoration-width: 1px;
  cursor: pointer;
  gap: 0.25em;
  align-items: baseline;
}

.primary {
  background: var(--blue-90);
  &:hover,
  &:focus-visible {
    background: var(--blue-80);
  }
}
.secondary {
}

.has-icon {
  padding-right: 0.5em;
}

.icon {
  width: 1em;
  height: auto;
  position: relative;
  top: 0.15em;
}
