@import 'vars';

.container {
  grid-column: 1/6;
  background-color: rgb(232,238,240);
  border: $text-border;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1em;
  border-radius: var(--br);
  h2 + &,
  h3 + &,
  h4 + & {
    margin-top: 0.5em;
  }
  h3 {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  @include bp(m) {
    grid-column: 3/4;
  }
}

.title {
  @extend %h3;
  margin-bottom: 0.25em;
}
