@import 'vars';

.container {
  grid-column: 1/6;
  background: var(--blue-10);
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: var(--br);
  h2 + &,
  h3 + &,
  h4 + & {
    margin-top: 0.5rem;
  }
  h3 {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  @include bp(m) {
    grid-column: 3/4;
  }
}
