@import 'vars';

.header {
  @extend %grid;
  background: var(--blue-10);
  color: var(--blue-90);
  padding: var(--padding);
  margin-bottom: 0;
  @include bp(m) {
    margin: 0 var(--padding);
    padding-top: 4.75em;
    padding-bottom: 5em;
  }
}

.header-copy {
  grid-column: 1 / 6;
  display: flex;
  flex-flow: column;
  gap: var(--ms--1);
  @include bp(m) {
    grid-column: 3 / 4;
  }
}

.header-actions {
  button {
    cursor: pointer;
    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}

.title {
  font-size: var(--ms-3);
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.02em;
  @include bp(m) {
    line-height: 0.95;
    font-size: var(--ms-5);
    letter-spacing: -0.025em;
  }
}
.intro {
  @extend %copy-large;
}

.actions {
  grid-column: 1 / 6;
  padding-top: 1.5em;
  @include bp(m) {
    padding-top: 2em;
    grid-column: 3 / 5;
  }
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 0.75rem;
    font-size: var(--ms--1);
  }
  li {
    position: relative;
  }
}

.save-button {
  display: flex;
  align-items: center;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
  img {
    margin-right: 0.1rem;
    height: 1rem;
  }
}

.save-button-active {
  composes: save-button;
  font-weight: 700;
}

.body {
  @extend %grid;
  padding: var(--padding);
  padding-bottom: 6rem;
  p,
  ol,
  ul,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  section,
  table {
    grid-column: 1 / 6;
    @include bp(m) {
      grid-column: 3 / 4;
    }
  }
}

.body-text {
  @extend %copy;
  display: contents;

  figure {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  ol,
  ul {
    margin-left: 1.2em;
    margin-bottom: 0.5em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  li {
    margin-bottom: 0.125em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  table {
    @extend %caption;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
  }
  td,
  th {
    padding: 0.2em;
    padding-left: 0;
    padding-right: 2em;
    border-bottom: $text-border;
    vertical-align: top;
  }
  th {
    font-weight: 600;
    text-align: left;
  }
  sup {
    font-size: var(--ms--2);
    vertical-align: baseline;
    display: inline-block;
    position: relative;
    top: -0.3em;
    left: 0.1em;
    color: var(--gray-60);
    font-weight: 600;
    font-feature-settings: 'tnum';
    a {
      text-decoration: none;
      background: transparent;
      &:hover,
      &:focus-visible {
        color: var(--gray-80);
        text-decoration: underline;
      }
    }
  }
  strong {
    font-weight: bold;
  }
}

.next {
  background: var(--blue-10);
  border: 1px solid var(--blue-90);
  padding: 1em;
  margin-bottom: 1rem;
  text-decoration: none !important;
  transition: var(--fast);
  border-radius: var(--br);
  &:hover,
  &:focus-visible {
    .pagination-label {
      text-decoration: underline;
    }
  }
  @include bp(m) {
    padding: 1.5em;
    padding-bottom: 1.65em;
  }
  p {
    @extend %copy-large;
  }
}

.previous {
  &:hover,
  &:focus-visible {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.pagination {
  grid-column: 1 / 6;
  margin-top: 2rem;
  @include bp(m) {
    grid-column: 3 / 4;
  }
  a {
    display: block;
  }
}

.pagination-label {
  @extend %mono;
  display: inline-block;
  margin-bottom: 0.5em;
}
.pagination-title {
  letter-spacing: -0.01em;
  display: block;
  align-items: flex-start;
  font-size: var(--ms-3);
  font-weight: 600;
  line-height: 1;
  @include bp(m) {
    font-size: var(--ms-3);
  }
}

.pagination-intro {
  padding-top: 0.45em;
}

.toc-container {
  grid-column: 1/6;
  margin-bottom: 1.5rem;
  max-width: 20rem;
  @include bp(m) {
    grid-column: 3/6;
  }
  @include bp(l) {
    padding-top: 0.5rem;
    position: sticky;
    top: 4rem;
    grid-row: 1 / 2;
    grid-column: 4 / 6;
  }
  @include bp(xl) {
    grid-column: 5 / 6;
  }
}

.toc-container-inner {
  @include bp(l) {
    position: absolute;
  }
}
