@import 'vars';

.header {
  @extend %grid;
  padding: var(--padding);
  background: var(--blue-10);
  margin: var(--padding);
  border-top: 20px solid var(--blue-50);
  margin-top: 3rem;
  color: var(--blue-90);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  @include bp(m) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.eyebrow {
  grid-column: 1 / 6;
  display: inline-block;
  justify-self: center;
  font-size: var(--ms-0);
  color: var(--blue-80);
  margin-bottom: 1rem;
  @include bp(m) {
    margin-bottom: 2rem;
  }
}

.title {
  grid-column: 1 / 6;
  font-family: var(--serif);
  font-size: var(--ms-3);
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 1rem;
  @include bp(m) {
    margin-bottom: 2rem;
    font-size: var(--ms-5);
    letter-spacing: -0.04em;
    grid-column: 1 / 6;
    padding: 0 2em;
  }
}
.intro {
  @extend %copy-large;
  grid-column: 1 / 6;
  margin-top: 0.25em;
  text-align: center;
  opacity: 0.95;
  @include bp(m) {
    grid-column: 2 / 5;
  }
}

.actions {
  grid-column: 1 / 6;
  padding-top: 1.5em;
  @include bp(m) {
    padding-top: 2em;
    grid-column: 3 / 5;
  }
  ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 0.75rem;
    font-size: var(--ms--1);
  }
  li {
    position: relative;
  }
}

.save-button {
  display: flex;
  align-items: center;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
  img {
    margin-right: 0.1rem;
    height: 1rem;
  }
}

.save-button-active {
  composes: save-button;
  font-weight: 700;
}

.body {
  @extend %grid;
  padding: var(--padding);
  padding-bottom: 6rem;
  @include bp(m) {
    padding-top: 3rem;
  }
  p,
  ol,
  ul,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  section,
  table {
    grid-column: 1 / 6;
    @include bp(m) {
      grid-column: 3 / 4;
    }
  }
}

.body-text {
  @extend %copy;
  display: contents;
  figure {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  ol,
  ul {
    margin-left: 1.2em;
    margin-bottom: 0.5em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  li {
    margin-bottom: 0.125em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
  }
  td,
  th {
    padding: 0.2em;
    padding-left: 0;
    padding-right: 3em;
    border-bottom: 2px solid var(--gray-20);
    vertical-align: top;
  }
  th {
    @extend %h4;
    text-align: left;
    padding-bottom: 0.45em;
  }
  sup {
    font-size: var(--ms--2);
    vertical-align: baseline;
    display: inline-block;
    position: relative;
    top: -0.3em;
    left: 0.1em;
    color: var(--gray-60);
    font-weight: 600;
    font-feature-settings: 'tnum';
    a {
      text-decoration: none;
      background: transparent;
      &:hover,
      &:focus-visible {
        color: var(--gray-80);
        text-decoration: underline;
      }
    }
  }
  strong {
    font-weight: bold;
  }
  a {
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-color: var(--gray-40);
    &:hover,
    &:focus-visible {
      text-decoration-color: var(--gray-80);
    }
  }
}

.next {
  border-radius: var(--br);
  padding: 1rem;
  margin-bottom: 1rem;
  text-decoration: none !important;
  transition: var(--fast);
  color: var(--gray-90);
  text-align: center;
  border: 1px solid var(--blue-80);
  @include bp(m) {
    padding: 1.5rem;
  }
  p {
    margin-bottom: 0;
  }
}

.previous {
  &:hover,
  &:focus-visible {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.pagination {
  grid-column: 1 / 6;
  margin-top: 2rem;
  @include bp(m) {
    grid-column: 3 / 4;
  }
  a {
    display: block;
  }
}

.pagination-label {
  font-size: var(--ms--1);
  display: inline-block;
  margin-bottom: 0.5em;
}
.pagination-title {
  font-family: var(--serif);
  letter-spacing: -0.01em;
  display: block;
  align-items: flex-start;
  font-size: var(--ms-3);
  font-weight: 500;
  line-height: 1;
  @include bp(m) {
    font-size: var(--ms-3);
  }
}

.pagination-intro {
  padding-top: 0.4rem;
}

.toc-container {
  grid-column: 1/6;
  margin-bottom: 1.5rem;
  @include bp(m) {
    grid-column: 3/6;
  }
  @include bp(l) {
    padding-top: 0.5rem;
    position: sticky;
    top: 4rem;
    grid-row: 1 / 2;
    grid-column: 1/2;
  }
}

.toc-container-inner {
  @include bp(l) {
    position: absolute;
  }
}
