@import 'vars';

.container {
  @extend %caption;
  border: 1px solid rgba(black, 0.75);
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  gap: 0.25em;
  height: 1.8em;
  padding: 0 0.65em;
  padding-top: 0.15em;
  font-feature-settings: 'tnum' 1;
  white-space: nowrap;
  svg {
    width: 1.15em;
    height: auto;
    top: -0.1em;
    position: relative;
  }
}

.group {
  display: flex;
  gap: 0.5em;
  padding-top: 0.75rem;
  flex-wrap: wrap;
  padding-bottom: 0.75rem;
}

.green {
  background: rgb(201, 243, 173);
}

.yellow {
  background: rgb(255, 238, 200);
}

.red {
  background: rgb(253, 190, 167);
}
