@import 'vars';

.container {
  @extend %caption;
  border: 2px solid rgba(black, 0.15);
  border-radius: 10px;
  padding: 0.1em 0.5em;
  padding-bottom: 0.2em;
  display: inline-flex;
  align-items: center;
  line-height: 1.3;
  gap: 0.25em;
  font-feature-settings: 'tnum' 1;
  white-space: nowrap;
  svg {
    width: 1.2rem;
    height: auto;
  }
}

.group {
  display: flex;
  gap: 0.5em;
  padding-top: 0.5em;
  flex-wrap: wrap;
  padding-bottom: 0.25em;
}

.green {
  background: rgb(201, 243, 173);
}

.yellow {
  background: rgb(255, 238, 200);
}

.red {
  background: rgb(253, 190, 167);
}
