@import 'vars';

.container {
  @extend %copy;
  border: $text-border;
  border-radius: var(--br);
  margin: 0.5em 0;
  grid-column: 1/6;
  @include bp(m) {
    grid-column: 3/4;
  }
}
.summary {
  padding: 0.5em;
  padding-top: 0.6em;
  padding-left: 0.65em;
  cursor: pointer;
  [open] & {
    padding-bottom: 0.1em;
  }
  &:hover,
  &:focus-visible {
    .summary-text {
      text-underline-offset: 0.1em;
      text-decoration: underline;
    }
  }
}

.summary-text {
  @extend %h3;
}
.body {
  padding: 0.75em;
  padding-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.details-group {
  border: $text-border;
  border-radius: var(--br);
  grid-column: 1/6;
  margin: 0.5em 0;
  counter-reset: li;
  @include bp(m) {
    grid-column: 3/4;
  }
  .container {
    border: 0;
    margin-top: 0;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: $text-border;
    &:last-of-type {
      border-bottom: 0;
    }
  }
}

.numbered {
  .body {
    padding-left: 2.4em;
  }
  .summary {
    counter-increment: li;
    display: flex;
    align-items: center;
    gap: 0.5em;
    &:before {
      content: counter(li);
      color: var(--blue-10);
      background: var(--blue-80);
      display: inline-block;
      font-family: var(--mono);
      width: 1.6em;
      height: 1.6em;
      line-height: 1;
      font-size: 0.8em;
      border-radius: 1000px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}
