@import 'vars';

.container {
}

.large {
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 2 / 5;
  }
}
.medium {
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 3 / 4;
  }
}

.consent {
  @extend %copy;
  border: $text-border;
  border-radius: var(--br);
  padding: 1em;
  p {
    margin-bottom: 0.35em !important;
  }
}

.iframe-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  iframe {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.captions {
  @extend %caption;
  padding-top: 0.5rem;
}

.actions {
  color: var(--gray-60);
}
