@import 'vars';

.credit {
  color: var(--gray-40);
  font-weight: 400;
  padding-left: 0.25rem;
  white-space: nowrap;
  a {
    text-decoration: underline;
  }
}
.captions {
  font-size: var(--ms--1);
  padding-top: 0.75em;
  line-height: 1.15;
  max-width: 45em;
  margin-bottom: 1rem;
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 3 / 4;
  }
}
.image {
  margin-top: 1rem;
  width: 100%;
}

.full {
  display: contents;
  .image {
    grid-column: 1 / 6;
    @include bp(l) {
      margin-bottom: 1.5rem;
    }
  }
  .captions {
    @include bp(l) {
      max-width: 18em;
      grid-column: 1 / 3;
      grid-row: span 4;
      padding-top: 0;
    }
  }
}

.large {
  grid-column: 1 / 6;
  text-align: center;
  .captions {
    margin: 0 auto;
  }
  @include bp(m) {
    grid-column: 2 / 5;
  }
}
.medium {
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 3 / 4;
  }
  .image {
    max-height: 80vh;
    width: auto;
    max-width: 100%;
  }
}

.tiny {
  .image {
    grid-column: 2 / 5;
    width: 8rem;
  }
}
