@import 'vars';

.credit {
  color: var(--gray-60);
  display: block;
  font-weight: 400;
  font-size: 0.85em;
  padding-top: 0.1em;
  letter-spacing: 0.01em;
}
.captions {
  @extend %caption;
  padding-top: 0.75em;
  grid-column: 1 / 6;
  margin-bottom: 1rem;
  @include bp(m) {
    grid-column: 3 / 4;
  }
}
.image {
  width: 100%;
}

.container {
  margin-top: 0.5em;
  &:first-child {
    margin-top: 0;
  }
}

.full {
  display: contents;
  .inner {
    display: contents;
  }
  &:first-child {
    .image {
      margin-top: 0;
    }
  }
  .image-container {
    margin-top: 0.5em;
    grid-column: 1 / 6;
    margin-left: calc(var(--padding) * -1);
    width: calc(100% + var(--padding) * 2);
    @include bp(m) {
      margin-left: 0;
      width: 100%;
    }
    @include bp(l) {
      margin-bottom: 1.5rem;
    }
  }
  .captions {
    @include bp(l) {
      max-width: 18em;
      grid-column: 1 / 3;
      grid-row: span 4;
      padding-top: 0;
    }
  }
}

.large {
  display: contents;
  .inner {
    display: contents;
  }
  .captions {
    grid-column: 1 / 6;
    @include bp(m) {
      grid-column: 2 / 4;
    }
  }
  .image-container {
    margin-top: 0.5em;
    grid-column: 1 / 6;
    @include bp(m) {
      grid-column: 2 / 5;
    }
  }
}
.medium {
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 3 / 4;
  }
  .image-container {
    max-height: 80vh;
    width: auto;
    max-width: 100%;
  }
}

.small {
  display: contents;
  .inner {
    grid-column: 3 / 4;
    width: 14rem;
  }
}
.tiny {
  display: contents;
  .inner {
    grid-column: 3 / 4;
    width: 8rem;
  }
}

.left-margin {
  grid-column: 1 / 6;
  .image-container {
    max-width: 15rem;
  }
  @include bp(m) {
    grid-column: 3 / 4;
  }
  @include bp(xl) {
    grid-column: 1 / 3;
    position: relative;
    .inner {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      flex-flow: column;
    }
  }
}

.right-margin {
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 3 / 4;
  }
  @include bp(xl) {
    grid-column: 4 / 6;
    position: relative;
    .inner {
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}

.discourage-saving {
  img {
    pointer-events: none;
  }
}
