@import 'vars';

.credit {
  color: var(--gray-60);
  display: block;
  padding-top: 0.1em;
}
.captions {
  @extend %caption;
  padding-top: 0.75em;
  max-width: 45em;
  margin-bottom: 1rem;
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 3 / 4;
  }
}
.image {
  width: 100%;
}

.container {
  margin-top: 0.5em;
  &:first-child {
    margin-top: 0;
  }
}

.full {
  display: contents;
  &:first-child {
    .image {
      margin-top: 0;
    }
  }
  .image {
    margin-top: 0.5em;
    grid-column: 1 / 6;
    margin-left: calc(var(--padding) * -1);
    width: calc(100% + var(--padding) * 2);
    @include bp(m) {
      margin-left: 0;
      width: 100%;
    }
    @include bp(l) {
      margin-bottom: 1.5rem;
    }
  }
  .captions {
    @include bp(l) {
      max-width: 18em;
      grid-column: 1 / 3;
      grid-row: span 4;
      padding-top: 0;
    }
  }
}

.large {
  display: contents;
  .captions {
    grid-column: 1 / 6;
    @include bp(m) {
      grid-column: 2 / 4;
    }
  }
  .image {
    margin-top: 0.5em;
    grid-column: 1 / 6;
    @include bp(m) {
      grid-column: 2 / 5;
    }
  }
}
.medium {
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 3 / 4;
  }
  .image {
    max-height: 80vh;
    width: auto;
    max-width: 100%;
  }
}

.tiny {
  .image {
    grid-column: 2 / 5;
    width: 8rem;
  }
}
