@import 'vars';

.container {
  grid-column: 2/5;
  perspective: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-left: 0 !important;
  margin-top: 1.5rem;
  margin-bottom: 2rem !important;
  text-align: center;
  p:last-child {
    margin-bottom: 0;
  }
}

.card {
  position: relative;
  display: block;
  transform-style: preserve-3d;
  transition: 300ms;
  width: 100%;
}

.active {
  transform: rotateX(180deg);
  z-index: 1;
}

.front,
.back {
  backface-visibility: hidden;
  padding: 1rem 1.75rem;
  min-height: 12rem;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: var(--br);
  overflow: hidden;
  transition: var(--fast);
  cursor: pointer;
  &:hover,
  &:focus-visible {
    border: 2px solid var(--blue-20);
  }
}

.front {
  background: var(--gray-10);
  border: $text-border;
  position: relative;
  justify-content: center;
  &:hover,
  &:focus-visible {
    border: 2px solid var(--gray-40);
  }
}
.back {
  background: var(--yellow-20);
  border: 2px solid rgba(black, 0.125);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: rotateX(180deg);
  overflow-y: auto;
  justify-content: flex-start;
  &:hover,
  &:focus-visible {
    border: 2px solid rgba(black, 0.25);
  }
}
