@import 'vars';

.container {
  background: var(--blue-10);
  grid-column: 1 / 7;
  padding: var(--padding);
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  margin-left: calc(var(--padding) * -1);
  margin-right: calc(var(--padding) * -1);
  display: flex;
  gap: var(--padding);
  flex-flow: column;
  @include bp(m) {
    flex-flow: row;
  }
  @include bp(l) {
    padding: calc(var(--padding) * 1.5);
    gap: calc(var(--padding) * 1.5);
  }
  figure {
    margin: 0;
    flex-basis: 50%;
    flex-grow: 1;
  }
  figcaption {
    margin-bottom: 0;
  }
}
