@import 'vars';

@font-face {
  font-family: 'MDIO';
  font-weight: 400;
  src: url('../assets/fonts/MDIO0.5-Regular.woff') format('woff'), url('../assets/fonts/MDIO0.5-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GT Super';
  font-weight: 500;
  src: url('../assets/fonts/GT-Super-Text-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'National';
  font-weight: 400;
  src: url('../assets/fonts/test-national-2-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'National';
  font-weight: 500;
  src: url('../assets/fonts/test-national-2-medium.woff2') format('woff2');
}
@font-face {
  font-family: 'National';
  font-weight: 600;
  src: url('../assets/fonts/test-national-2-bold.woff2') format('woff2');
}

:root {
  --gray-10: #fafafa;
  --gray-20: hsl(43, 10%, 95%);
  --gray-30: hsl(2, 5%, 75%);
  --gray-40: hsl(2, 1%, 40%);
  --gray-50: hsl(2, 2%, 30%);
  --gray-60: hsl(2, 2%, 20%);
  --gray-70: hsl(2, 0%, 10%);
  --black: hsl(0, 0%, 5%);
  --blue-90: hsl(209, 22%, 7%);
  --blue-80: hsl(209, 25%, 15%);
  --blue-70: hsl(209, 65%, 30%);
  --blue-60: hsl(209, 80%, 40%);
  --blue-50: hsl(210, 55%, 55%);
  --blue-40: hsl(210, 55%, 65%);
  --blue-30: hsl(210, 45%, 80%);
  --blue-20: hsl(210, 22%, 92%);
  --blue-10: hsl(195, 20%, 96%);
  --yellow-50: hsl(49, 96%, 60%);
  --yellow-40: hsl(49, 90%, 68%);
  --yellow-30: hsl(48, 60%, 70%);
  --yellow-20: hsl(49, 95%, 85%);
  --yellow-10: hsl(49, 90%, 93%);
  --purple-10: hsl(252, 48%, 94%);
  --orange-50: hsl(25, 70%, 60%);
  --sans: 'National', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif: 'GT Super', sans-serif;
  --mono: 'MDIO', serif;
  --ratio: 1.25; // Minor 3
  --ms-0: clamp(0.95rem, calc(1.25vw + 0.3rem), 1.2rem);
  --ms--2: calc(var(--ms--1) / var(--ratio));
  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
  --ms-6: calc(var(--ms-5) * var(--ratio));
  --ms-7: calc(var(--ms-6) * var(--ratio));
  --ms-8: calc(var(--ms-7) * var(--ratio));
  --ms-9: calc(var(--ms-8) * var(--ratio));
  --ms-10: calc(var(--ms-9) * var(--ratio));
  --ms-11: calc(var(--ms-10) * var(--ratio));
  --ms-12: calc(var(--ms-11) * var(--ratio));
  --mono-size: calc(var(--ms-0) * 0.85);
  --br: 3px;
  --fast: 100ms;
  --padding: min(5vw, 2.5rem);
  --padding-small: calc(var(--padding) * 0.5);
}

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: inherit;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  letter-spacing: inherit;
}

::selection {
  background-color: var(--blue-80);
  color: white;
}

html {
}

body {
  font-family: var(--sans);
  font-size: var(--ms-0);
  color: var(--blue-90);
}

.gatsby-image-wrapper [data-main-image] {
  transition: 100ms;
}
.footnotes {
  @extend %caption;
  border-top: 2px solid var(--gray-20);
  margin-top: 1em;
  padding-top: 2em;
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 3 / 4;
  }
  #footnote-label {
    position: absolute;
    font-size: 0;
  }
  .footnote-backref {
    margin-left: 0.2em;
    text-decoration: none;
  }
  li {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    display: inline-block;
    counter-increment: li;
    position: relative;
    padding-bottom: 0;
    @include bp(m) {
      padding-bottom: 0.125em;
    }

    &:target {
      font-weight: bold;
    }

    &:before {
      content: counter(li) '.';
      position: absolute;
      left: -1.2em;
    }
  }
  ol {
    column-gap: 2.5em;
    @include bp(s) {
      columns: 2;
    }
  }
  hr {
    display: none;
  }
}

.data-footnote-backref {
  display: none;
}
