@import 'vars';

.container {
  background: var(--purple-10);
  border-radius: var(--br);
  padding: 1em;
}
.eyebrow {
  @extend %caption;
  display: block;
  margin-bottom: 0.25em;
}

.title {
  @extend %h2;
  margin-top: 0;
}
