@import 'vars';

.container {
  background: var(--gray-20);
  border-radius: var(--br);
  padding: 1em;
}
.eyebrow {
  @extend %caption;
  display: block;
  margin-bottom: 0.25em;
}

.title {
  @extend %h3;
  margin-top: 0;
}

.name {
  font-family: var(--mono);
  font-weight: 300;
  margin-left: 0.65em;
  display: inline-flex;
}

.meta {
  @extend %caption;
  display: flex;
  gap: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.meta-item {
  border: 1px solid rgba(black, 0.35);
  border-radius: 10px;
  padding: 0.1em 0.5em;
  padding-bottom: 0.2em;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  gap: 0.25em;
  font-feature-settings: 'tnum' 1;
  svg {
    width: 1.2rem;
    height: auto;
  }
}
