@import 'vars';

.container {
  grid-column: 1 / 6;
  position: relative;
  margin-bottom: 2em;
  @include bp(m) {
    grid-column: 2 / 5;
  }
}

.map-container {
  background: var(--gray-10);
  position: relative;
}

.map {
  max-width: 100%;
  width: 100%;
  @include bp(m) {
    min-height: 500px;
  }

  circle {
    stroke: var(--blue-90);
    stroke-width: 1;
  }

  g {
    max-width: 100%;
    width: 100%;
  }
}

.base-map {
  path {
    fill: var(--gray-30);
    stroke: var(--gray-30);
  }
}

.marker {
  r: 12px;
  @include bp(m) {
    r: 7px;
  }
}

.legends {
  @include text-stroke(var(--gray-10), 1px);
  margin: 0.5em;
  transform: translateY(-0.5em);

  @include bp(sm) {
    max-width: 20em;
    position: absolute;
    margin: 1em;
    transform: none;
  }
}

.position-top-left {
  @include bp(sm) {
    top: 0;
    left: 0;
  }
}
.position-top-right {
  @include bp(sm) {
    top: 0;
    right: 0;
  }
}
.position-bottom-left {
  @include bp(sm) {
    bottom: 0;
    left: 0;
  }
}
.position-bottom-right {
  @include bp(sm) {
    bottom: 0;
    right: 0;
  }
}

.legend {
  @extend %caption;
  margin-bottom: 0.5em;

  @include bp(m) {
    margin-bottom: 1.5em;
  }

  &:last-child {
    margin-bottom: 1em;
  }

  svg {
    width: 1em;
    height: 1em;
    border-radius: 2px;
    overflow: hidden;
    circle {
      stroke: var(--blue-80);
    }
    &:has(rect) {
      border: 1px solid var(--blue-80);
    }
  }
}

.legend-title {
  @extend %caption-bold;
  margin-bottom: 0.2em !important;
}

.legend-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  text-wrap: auto;
  font-size:80%;
  svg {
    flex-shrink: 0;
    position: relative;
    top: 0.1em;
  }
}

.sr-only {
  position: absolute;
  left: -9999px;
}

figcaption, .captions{
  @extend %caption;
  margin-bottom:1rem !important;
  @include bp(m) {
    margin-bottom:1rem !important;
  }
}

.expand,
.collapse {
  position: absolute;
  bottom: 0.7rem;
  right: 0.2rem;
  font-size: 0;
  background: black;
  padding: 0.1rem;
  cursor: pointer;
  svg {
    display: block;
    width: 1.5rem;
    height: auto;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.621));
  }
  path {
    fill: white;
  }
}

.collapse {
  bottom: 0;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  pointer-events: none;
  opacity: 0;
  transition: var(--fast);
  visibility: hidden;
  padding: var(--padding-small);
}

.lightbox-media {
  height: 100%;
  display: flex;
  width: 100%;
  position: relative;
  .map {
    height: 100%;
    width: auto;
    max-width: 100%;
  }
}

.lightbox-active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
