@import 'vars';

.container {
  grid-column: 1 / 6;
  position: relative;
  margin-bottom: 2em;
  @include bp(m) {
    grid-column: 2 / 5;
  }
}

.map-container {
  background: var(--gray-10);
  position: relative;
}

.map {
  max-width: 100%;
  width: 100%;
  @include bp(m) {
    min-height: 500px;
  }

  circle {
    stroke: var(--blue-90);
    stroke-width: 1;
  }

  g {
    max-width: 100%;
    width: 100%;
  }
}

.base-map {
  path {
    fill: var(--gray-30);
    stroke: var(--gray-30);
  }
}

.marker {
  r: 12px;
  @include bp(m) {
    r: 7px;
  }
}

.legends {
  @include text-stroke(var(--gray-10), 1px);
  margin: 0.5em;
  transform: translateY(-0.5em);

  @include bp(sm) {
    max-width: 20em;
    position: absolute;
    margin: 1em;
    transform: none;
  }
}

.position-top-left {
  @include bp(sm) {
    top: 0;
    left: 0;
  }
}
.position-top-right {
  @include bp(sm) {
    top: 0;
    right: 0;
  }
}
.position-bottom-left {
  @include bp(sm) {
    bottom: 0;
    left: 0;
  }
}
.position-bottom-right {
  @include bp(sm) {
    bottom: 0;
    right: 0;
  }
}

.legend {
  @extend %caption;
  margin-bottom: 0.5em;

  @include bp(m) {
    margin-bottom: 1.5em;
  }

  &:last-child {
    margin-bottom: 0;
  }

  svg {
    width: 1em;
    height: 1em;
    border-radius: 2px;
    overflow: hidden;
    circle {
      stroke: var(--blue-80);
    }
    &:has(rect) {
      border: 1px solid var(--blue-80);
    }
  }
}

.legend-title {
  @extend %caption-bold;
  margin-bottom: 0.2em !important;
}

.legend-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  text-wrap: balance;
  svg {
    flex-shrink: 0;
    position: relative;
    top: 0.1em;
  }
}

.sr-only {
  position: absolute;
  left: -9999px;
}
