@import 'vars';

.header {
  margin-bottom: var(--padding);
  background: var(--blue-20);
  @include bp(m) {
    padding: var(--padding);
    padding-top: 2.75em;
    margin-bottom: var(--padding);
  }
}

.inner {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  position: relative;
  @include bp(m) {
    border-radius: var(--br);
    flex-flow: row-reverse;
    justify-content: flex-end;
  }
}

.header-title {
  font-size: var(--ms-4);
  color: var(--gray-10);
  font-weight: 600;
  line-height: 0.9;
  letter-spacing: -0.015em;
  word-spacing: -0.025em;
  margin-bottom: 1rem;
  margin-left: -0.05em;
  @include bp(m) {
    font-size: var(--ms-6);
    margin-bottom: 1.5rem;
  }
}

.header-eyebrow {
  @extend %mono;
  margin-bottom: 1rem;
  display: inline-block;
  background: var(--yellow-50);
  color: var(--blue-80);
  padding: 0.3em 0.35em;
  padding-bottom: 0.2em;
  line-height: 1;
  border-radius: var(--br);
  @include bp(m) {
    margin-bottom: 1.5rem;
  }
}

.header-copy {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: var(--padding);
  flex-grow: 0;
  background: var(--blue-90);
  position: relative;
  z-index: 1000;
  color: var(--gray-30);
  @include bp(m) {
    flex-basis: 50%;
    min-height: 85vh;
  }
}
.header-image {
  flex-grow: 0;
  flex-shrink: 1;
  background: rgba(white, 0.2);
  @include bp(m) {
    bottom: 0;
    right: 0;
    top: 0;
    position: absolute !important;
    left: 40%;
  }
}

.header-credit {
  position: absolute;
  right: 0;
  z-index: 100;
  padding: 0.1rem 0.4rem;
  border-top-left-radius: var(--br);
  font-size: var(--ms--2);
  top: 0;
  transform: translateY(-100%);
  color: var(--blue-80);
  @include bp(m) {
    top: auto;
    bottom: 1rem;
    left: 2.5rem;
    padding: 0;
    color: var(--gray-30);
    background: transparent;
  }
}

.header-intro {
  line-height: 1.3;
  margin-bottom: 1.5rem;
  color: var(--gray-30);
  font-size: var(--ms-1);
  @include bp(m) {
    margin-bottom: 2rem;
  }
}

.header-cta {
  background: var(--blue-80);
  color: white;
  display: inline-flex;
  margin-bottom: 2rem;
  padding: 0.45em 0.75em;
  line-height: 1;
  border-radius: var(--br);
  letter-spacing: 0.025em;
  gap: 0.25em;
  align-items: flex-end;
  padding-right: 0.5em;
  transition: var(--fast);
  font-size: var(--ms-1);
  svg {
    width: 0.9em;
  }
  &:hover,
  &:focus-visible {
    background-color: var(--blue-70);
  }
}

.header-bylines {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  padding-top: 1rem;
  flex-flow: row;
  flex-wrap: wrap;
  img {
    filter: grayscale(1) contrast(1.2);
    mix-blend-mode: multiply;
  }
}
