@import 'vars';

.container {
  grid-column: 1/6;
  background: var(--blue-20);
  margin-left: calc(var(--padding) * -1);
  margin-right: calc(var(--padding) * -1);
}

.inner {
  padding: 0;
  border: 0;
  overflow: hidden;
  position: relative;
  @include bp(l) {
    flex-flow: row-reverse;
    justify-content: flex-end;
  }
}

.header-title {
  @extend %h1;
  margin-bottom: 0.25em;
  @include bp(m) {
    margin-bottom: 1.5rem;
    font-size: var(--ms-5);
  }
}

.header-eyebrow {
  font-size: var(--ms--1);
  margin-bottom: 1.5em;
}

.header-copy {
  @extend %grid;
  grid-column: 1 / 6;
  background: var(--blue-80);
  color: white;
  @include bp(l) {
    padding: 0;
    padding-top: 3em;
    padding-bottom: 3em;
    position: relative;
    z-index: 100;
  }
}

.header-copy-inner {
  grid-column: 3/5;
}
.header-image {
  grid-column: 1/6;
  max-height: 50vh;
}

.header-credit {
  position: absolute;
  right: 0;
  z-index: 100;
  padding: 0.1rem 0.4rem;
  border-top-left-radius: var(--br);
  font-size: var(--ms--2);
  top: 0;
  transform: translateY(-100%);
  color: var(--blue-80);
  @include bp(m) {
    top: auto;
    bottom: 1rem;
    left: 2.5rem;
    padding: 0;
    color: var(--gray-30);
    background: transparent;
  }
}

.header-intro {
  @extend %copy-large;
  opacity: 0.75;
  margin-bottom: 1em;
  @include bp(m) {
    margin-bottom: 2rem;
  }
}

.header-cta {
  background: var(--blue-90);
  color: white;
  display: inline-flex;
  padding: 0.4em 0.6em;
  padding-bottom: 0.6em;
  line-height: 1;
  border-radius: var(--br);
  letter-spacing: 0.025em;
  gap: 0.25em;
  align-items: flex-end;
  padding-right: 0.5em;
  transition: var(--fast);
  font-size: var(--ms-1);
  align-self: flex-start;
  svg {
    width: 0.9em;
  }
  &:hover,
  &:focus-visible {
    background-color: var(--blue-80);
  }
}
