@import 'vars';

.byline {
  font-size: var(--ms--1);
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  line-height: 1.2;
  color: var(--gray-30);
  em {
    display: block;
    color: var(--gray-10);
    font-weight: 500;
    font-style: normal;
  }
}

.byline-image {
  border-radius: var(--br);
  display: block;
  width: 3em;
  height: 3em;
  flex-shrink: 0;
  background: var(--gray-20);
}

.container {
  section {
    padding: 0 var(--padding);
    margin-bottom: var(--padding);
    display: grid;
    @extend %grid;
  }
}
.section-title {
  @extend %mono;
  grid-column: 1 / 6;
  margin-bottom: 0.5rem;
  @include bp(m) {
    margin-bottom: 1rem;
    grid-column: 1 / 2;
  }
}

.section-content {
  grid-column: 1 / 6;
  scroll-margin-top: 2rem;
  @include bp(m) {
    grid-column: 3 / 6;
  }
}

.copy {
  @extend %copy;
}

.author {
  @extend %copy;
  list-style: none;
  margin-bottom: 2em;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.author-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.65em;
  gap: 0.85em;
  align-items: flex-end;
}

.author-image {
  border-radius: var(--br);
  display: block;
  width: 3.5rem;
  flex-shrink: 0;
  @include bp(m) {
    width: 6rem;
  }
}
.author-institution {
  @extend %copy;
  display: block;
  line-height: 1;
  margin-top: 0.25em;
}

.author-title {
  @extend %h2;
  margin-top: 0;
}

.chapters {
  ol {
    list-style: none;
    border-radius: var(--br);
    border-left: 2px solid var(--gray-30);
    border-top: 2px solid var(--gray-30);
    display: grid;
    grid-template-columns: 50% 50%;
  }
  li {
    border-bottom: 2px solid var(--gray-30);
    border-right: 2px solid var(--gray-30);
  }
  a {
    padding: 1.5em;
    display: flex;
    flex-flow: column;
    &:hover,
    &:focus-visible {
      h3 {
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }
  }
}

.chapter-title {
  display: block;
  @extend %h2;
  margin-top: 0;
  margin-bottom: 0.2rem;
  text-underline-offset: 0.12em;
  position: relative;
  @include bp(m) {
    letter-spacing: -0.025em;
  }
}

.chapter-intro {
  @extend %copy;
  margin-bottom: 0.25rem;
}
.chapter-meta {
  @extend %caption;
  color: var(--blue-70);
  margin-top: 0.25em;
}

.disclosures {
  @extend %caption;
  columns: 2;
  p {
    margin-bottom: 1rem;
  }
  h3 {
    @extend %h4;
    margin-top: 0;
  }
}
