@import 'vars';

.container {
  grid-column: 1/ 6;
  margin-bottom: 1em;
  @include bp(m) {
    grid-column: 3/ 4;
  }
}

.iframe-container {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  iframe {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    border-radius: var(--br);
    height: 100%;
  }
}
