@import 'vars';

.wrapper {
  grid-column: 1 / 6;
  margin-top: 1em;
  margin-bottom: 0.5em;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; // 16:9
  overflow: hidden;
  background: #000;
  border-radius: var(--br, 8px);

  @include bp(m) {
    grid-column: 3 / 4;
  }
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.captions {
  @extend %caption;
  padding-top: 0.75em;
  grid-column: 1 / 6;
  margin-bottom: 1rem;

  @include bp(m) {
    grid-column: 3 / 4;
  }
}

.caption {
  display: block;
}

.credit {
  color: var(--gray-60);
  display: block;
  font-weight: 400;
  font-size: 0.85em;
  padding-top: 0.1em;
  letter-spacing: 0.01em;
}

.captions a {
  overflow-wrap: anywhere;
}
