@import 'vars';

.wrapper {
  grid-column: 1 / 6;
  margin: 1em 0;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; // 16:9 ratio
  overflow: hidden;
  border-radius: var(--br, 8px);
  background: #000;

  @include bp(m) {
    grid-column: 3 / 4;
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
