@import 'vars';

.wrapper {
  grid-column: 1 / 6;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; // 16:9 ratio
  overflow: hidden;
  border-radius: var(--br, 8px);
  background: #000;

  @include bp(m) {
    grid-column: 3 / 4;
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  width: 100%;
}

.captions {
  @extend %caption;
  padding-top: 0.75em;
  grid-column: 1 / 6;
  margin-bottom: 1rem;

  @include bp(m) {
    grid-column: 3 / 4;
  }
}



.credit {
  color: var(--gray-60);
  display: block;
  font-weight: 400;
  font-size: 0.85em;
  padding-top: 0.1em;
  letter-spacing: 0.01em;
}

.captions a {
  overflow-wrap: anywhere;
}

.full {
  display: contents;

  .wrapper {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    grid-column: 1 / 6;
    margin-left: calc(var(--padding) * -1);
    width: calc(100% + var(--padding) * 2);

    @include bp(m) {
      margin-left: 0;
      width: 100%;
    }

    @include bp(l) {
      margin-bottom: 1.5rem;
    }
  }

  .captions {
    @include bp(l) {
      max-width: 18em;
      grid-column: 1 / 3;
      grid-row: span 4;
      padding-top: 0;
    }
  }
}

.large {
  display: contents;

  .wrapper {
    margin-top: 0.5em;
    grid-column: 1 / 6;

    @include bp(m) {
      grid-column: 2 / 5;
    }
  }

  .captions {
    grid-column: 1 / 6;

    @include bp(m) {
      grid-column: 2 / 4;
    }
  }
}

.medium {
  grid-column: 1 / 6;

  @include bp(m) {
    grid-column: 3 / 4;
  }

  .wrapper {
    width: auto;
    max-height: 180vh;
    max-width: 100%;
    overflow: hidden;
  }
}

.small {
  display: contents;

  .inner {
    grid-column: 3 / 4;
    width: 14rem;
  }

  .wrapper {
    grid-column: 3 / 4;
    width: 20rem;
    margin: 0 auto;
  }
}

.tiny {
  display: contents;

  .inner {
    grid-column: 3 / 4;
    width: 8rem;
  }
}

.left-margin {
  grid-column: 1 / 6;

  .wrapper {
    max-width: 15rem;
  }

  @include bp(m) {
    grid-column: 3 / 4;
  }

  @include bp(xl) {
    grid-column: 1 / 3;

    .inner {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      flex-flow: column;
    }
  }
}

.right-margin {
  grid-column: 1 / 6;

  @include bp(m) {
    grid-column: 3 / 4;
  }

  @include bp(xl) {
    grid-column: 4 / 6;

    .inner {
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}

