@import 'vars';

.container {
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 1 / 6;
  }
}

.map {
  min-height: 500px;
}

.caption {
  text-align: center;
}

.credit {
  @extend %caption;
  text-align: center;
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.country {
  fill: rgb(255, 255, 255);
  stroke: rgb(113, 115, 122);
  stroke-width: 0.5;
}
