@import 'vars';

.chapter {
  border-left: 1pt solid currentColor;
  page-break-after: always;
  padding-left: 0.5em;
  font-size: 10pt;
}

.chapter-header {
  margin-bottom: 12pt;
  padding-bottom: 10pc;
  border-top: 1pt solid currentColor;
  border-bottom: 1pt solid currentColor;
}

.chapter-title {
  font-size: 24pt;
  letter-spacing: -0.01em;
  font-family: var(--serif);
}

.chapter-intro {
  // font-family: var(--serif);
  font-size: 14pt;
}

.chapter-content {
  columns: 2;
  h2 {
    font-weight: bold;
  }
  table {
    font-size: 8pt;
    border: 1pt solid currentColor;
    column-span: all;
    margin: 1em 0;
  }
  td,
  th {
    padding: 0.5pt 2pt;
    padding-right: 1.5em;
    border: 1pt solid currentColor;
  }
  th {
    font-weight: bold;
    text-align: left;
    border-bottom: 2pt solid currentColor;
  }
  td {
    border-bottom: 0.5pt solid currentColor;
  }
  figcaption {
    font-size: 7pt;
  }
}
