@import 'vars';

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  p:last-child {
    margin-bottom: 0;
  }
}

.speech {
  position: relative;
  .text,
  .actions,
  cite {
    padding-left: calc(var(--ms-0) * 1.75);
  }
  &:before {
    content: '“';
    font-size: 2em;
    font-weight: 600;
    position: absolute;
    color: var(--gray-80);
    left: 0.2em;
    top: -0.05em;
  }
}

.document {
  .text {
    @extend %mono;
    font-size: 0.85em;
    position: relative;
    background-color: var(--gray-20);
    padding: 0 1em;
    margin-top: 0.5em;
    margin-bottom: 1.25em;
    line-height: 1.4;
    &:before,
    &:after {
      z-index: -100;
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      height: 2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-image: url('../assets/rip.svg');
    }
    &:before {
      top: -1.35em;
    }
    &:after {
      bottom: -1.35em;
      transform: rotate(180deg);
    }
  }

  p {
    margin-bottom: 0.75em;
  }

  strong {
    background: rgb(254, 223, 82);
    font-weight: 400 !important;
    padding: 0em 0.2em;
    border-radius: 1px;
    margin: -0.4em;
    mix-blend-mode: multiply;
  }
}

.actions {
  @extend %caption-bold;
  display: flex;
  gap: 0.75rem;
  padding-top: 0.15em;
  align-items: center;
}

.actionItem {
  display: flex;
  align-items: center;
  text-decoration: underline;
  letter-spacing: 0.005em;
}

cite {
  @extend %caption;
  display: block;
  padding-top: 0.5em;
  font-style: normal;
}
