@import 'vars';

blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  p:last-child {
    margin-bottom: 0;
  }
}

.speech {
  .text {
    @extend %copy-large;
    font-family: var(--sans);
    line-height: 1.35;
    font-style: italic;
    letter-spacing: -0.01em;

    p:before {
      content: '‘';
    }

    p:after {
      content: '’';
    }
  }
}

.document {
  .text {
    @extend %mono;
    font-size: 0.85em;
    position: relative;
    background-color: var(--gray-20);
    padding: 0 1em;
    margin-top: 0.5em;
    margin-bottom: 1.25em;
    line-height: 1.4;
    &:before,
    &:after {
      z-index: -100;
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      height: 2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-image: url('../assets/rip.svg');
    }
    &:before {
      top: -1.35em;
    }
    &:after {
      bottom: -1.35em;
      transform: rotate(180deg);
    }
  }

  p {
    margin-bottom: 0.75em;
  }

  strong {
    background: rgb(255, 226, 98);
    font-weight: normal;
    padding: 0em 0.3rem;
    border-radius: 2px;
    margin: -0.4rem;
    mix-blend-mode: multiply;
  }
}

.actions {
  @extend %caption-bold;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.actionItem {
  display: flex;
  align-items: center;
  text-decoration: underline;
  letter-spacing: 0.005em;
}

cite {
  @extend %caption;
  display: block;
  padding-top: 0.5rem;
  font-style: normal;
}
