@import 'vars';

.container {
  align-self: flex-start;
  position: relative;
  display: none;
  @include bp(xl) {
    display: block;
    grid-column: 4/6;
  }
}

.inner {
  @extend %caption;
  display: block;
  padding: 1.5em;
  text-decoration: none !important;
  color: var(--blue-80) !important;
  background: var(--blue-10);
  border-top: 1px solid var(--blue-80);
  outline-offset: 2px;
  position: absolute;
  &:hover,
  &:focus-visible {
    .title {
      text-decoration: underline;
    }
  }
}

.label {
  @extend %mono-caps-caption;
  display: block;
  margin-bottom: 1.5em;
  color: var(--blue-70);
}

.unit {
  @extend %mono;
  font-size: var(--ms--2);
  line-height: 1;
  display: block;
  margin-bottom: 0.2em;
}

.chapter {
  margin-left: 0.35em;
}

.title {
  font-family: var(--serif);
  font-weight: 600;
  font-size: var(--ms-1);
  line-height: 1.1;
  word-spacing: -0.02em;
  text-underline-offset: 0.125em;
}

.intro {
  padding-top: 0.5em;
  margin-bottom: 0 !important;
}
