@import 'vars';

.container {
  align-self: flex-start;
  position: relative;
  display: block;
  grid-column: 1/6;
  @include bp(m) {
    grid-column: 2/5;
  }
  @include bp(l) {
    grid-column: 3/4;
  }
  @include bp(xl) {
    grid-column: 4/6;
  }
}

.inner {
  @extend %caption;
  display: block;
  text-decoration: none !important;
  color: var(--blue-80) !important;
  background: var(--blue-10);
  outline-offset: 2px;
  border-top: 1px solid var(--blue-80);
  padding: 1em;
  margin: 1em 0;
  @include bp(xl) {
    padding: 1.5em;
    margin-top: 0;
    border-radius: 0;
    position: absolute;
  }
  &:hover,
  &:focus-visible {
    .title {
      text-decoration: underline;
    }
  }
}

.label {
  @extend %mono-caps-caption;
  color: var(--blue-70);
  &:after {
    content: ': ';
  }

  @include bp(xl) {
    display: block;
    margin-bottom: 1.5em;
  }
}

.unit {
  line-height: 1;
  margin-bottom: 0.2em;
  display: inline;
  @extend %mono-caps-caption;

  @include bp(l) {
    display: block;
  }
}

.chapter {
  margin-left: 0.35em;
}

.title {
  font-weight: 600;
  line-height: 1.1;
  word-spacing: -0.02em;
  text-underline-offset: 0.125em;
  font-size: var(--ms-1);
  margin-top: 0.1em;
  font-family: var(--serif);
  @include bp(l) {
    font-size: var(--ms-1);
  }
}

.intro {
  padding-top: 0.5em;
  margin-bottom: 0 !important;
  display: none;
  @include bp(l) {
    display: block;
  }
}
