@import 'vars';

.container {
  background: var(--yellow-10);
  border-radius: var(--br);
  padding: 1em;
  margin-bottom: 1em;
}
.eyebrow {
  @extend %caption;
  display: block;
  margin-bottom: 0.5em;
}

.title {
  @extend %h2;
  margin-top: 0;
}

.name {
  @extend %mono;
  font-weight: 100;
  color: var(--blue-80) !important;
  margin-left: 0.65em;
  display: inline-block;
}
