@import 'vars';

.container {
  background: var(--yellow-10);
  border-radius: var(--br);
  padding: 1em;
}
.eyebrow {
  @extend %caption;
  display: block;
  margin-bottom: 0.25em;
}

.title {
  @extend %h3;
  margin-top: 0;
}

.name {
  font-family: var(--mono);
  font-size: var(--ms-0);
  font-weight: 300;
  margin-left: 0.65em;
  display: inline-block;
}
