@import 'vars';

.container {
  font-size: var(--ms--1);
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding);
}

.navigation-item {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
    background: rgba(gray, 0.02);
  }
}

.logo {
  composes: navigation-item;
  position: relative;
  padding: 0.75rem 0;
  font-size: 0;
  img {
    height: 3rem;
    @include bp(m) {
      height: 4rem;
    }
  }
}
