@import 'vars';

.container {
  @extend %caption;
  padding-top: var(--padding);
  margin: var(--padding);
  border-top: 1px solid var(--blue-80);
  p {
    max-width: 60em;
  }
}

.funding {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  height: 2.5rem;
  width: auto;
  @include bp(m) {
    height: 3.5rem;
  }
}

.nav {
  margin-bottom: 0.5em;
  font-weight: 600;
  ul {
    display: flex;
    gap: 0.5em;
    list-style: none;
  }
}

.meta {
  padding-top: 0.5rem;
  font-size: var(--ms--2);
}
