@import 'vars';

.container {
  @extend %grid;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  align-content: stretch;
  transition: var(--fast);
  background: transparent;
  z-index: 2000;
  height: 3.25em;
  background-color: white;
  border-bottom: 1px solid var(--blue-70);
  font-size: 0.8rem;
  @include bp(l) {
    font-size: var(--ms--1);
  }
  @include bp(xl) {
    font-size: 1rem;
    border-left: 1px dotted var(--blue-90);
    border-right: 1px dotted var(--blue-90);
  }
  label {
    position: absolute;
    font-size: 0;
  }
}

.container-active {
  border-bottom: 1px solid var(--blue-80);
}

.status-location {
  align-items: center;
  white-space: nowrap;
  display: flex;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  padding-left: 1em;
  max-width: calc(100% - 5rem);

  @include bp(m) {
    max-width: none;
    padding-left: 1em;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  @include bp(xl) {
    padding-left: 0;
  }
}

.unit {
  position: relative;
  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

.location-label {
  flex-grow: 1;
  margin-left: 0.35em;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  display: none;
  padding-top: 0.25em;
  @include bp(s) {
    display: block;
  }
}

.unit-name {
  opacity: 1;
  transition: var(--fast);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateY(0px);
  .container-active.has-post & {
    opacity: 0;
    transform: translateY(-0.5em);
  }
}

.post {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(0.5em);
  opacity: 0;
  transition: var(--fast);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  .container-active & {
    opacity: 1;
    transform: translateY(0);
  }
}

.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  grid-column: 4 / 6;
  align-items: center;
}

.status-pagination {
  display: none;
  @include bp(m) {
    display: flex;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
    grid-column: 5/6;
  }
}

.pagination-link {
  font-size: 0;
  padding: 0.1rem;
  border: 1px solid transparent;
  transition: var(--fast);
  &:hover,
  &:focus-visible {
    border: 1px solid var(--blue-80);
  }
  &:first-of-type {
    border-top-left-radius: var(--br);
    border-bottom-left-radius: var(--br);
  }
  &:last-of-type {
    margin-left: -1px;
    border-top-right-radius: var(--br);
    border-bottom-right-radius: var(--br);
  }
  svg {
    height: 1.35rem;
  }
}

.progress {
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
}
.progress-inner {
  background: var(--black);
  height: 1px;
}

.home {
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
  grid-column: 1/4;
  grid-row: 1 / 2;
  text-underline-offset: 0.15em;
  padding-top: 0.2em;
  @include bp(m) {
    font-weight: 600;
    font-size: 1.05em;
    grid-column: 1/3;
  }
  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
  svg {
    margin-right: 0.35rem;
    height: auto;
    position: relative;
    flex-shrink: 0;
    width: 1.5em;
    top: -0.1em;
    @include bp(m) {
      top: -0.05em;
      width: 1.8em;
    }
  }
}

.home-label {
  visibility: hidden;
  position: absolute;
}

.bookmarks-container {
  position: fixed;
  transition: var(--fast);
  top: 100%;
  right: var(--padding);
  opacity: 0;
  border: 1px solid rgba(black, 0.75);
  border-radius: var(--br);
  box-shadow: 0px 1px 3px rgba(black, 0.25);
  width: Min(100vw - var(--padding) * 2, 25rem);
  background-color: white;
  z-index: 2000;
  visibility: hidden;
  top: 2.5rem;
  @include bp(m) {
    top: 2.75rem;
  }
  @include bp(xl) {
    top: 3rem;
    right: calc((100vw - 95rem) / 2 + var(--padding) - 0.4em);
  }
}

.bookmarks-container-active {
  opacity: 1;
  visibility: visible;
}

.bookmarks-header {
  @extend %caption;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--blue-80);
  padding: 0.4em 0.75em;
  padding-bottom: 0.2em;
  button {
    position: relative;
    top: -0.05em;
  }
}

.bookmarks--title {
  line-height: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  display: none;
  font-size: 0;
}

.backdrop-active {
  display: block;
}
