@import 'vars';

ol.list {
  padding: 0.75em;
  list-style: none;
  margin: 0;
  .list {
    padding: 0;
    padding-left: 1em;
  }
}

li.item {
  line-height: 1.2;
  a {
    margin-bottom: 0.25em;
    display: block;
    text-decoration: none;
    &:hover,
    &:focus-visible {
      text-decoration: underline;
      color: var(--blue-90);
    }
  }
}
