@import 'vars';
ol.list {
  @extend %caption;
  list-style: none;
  margin: 0;
  margin-left: 0;
  .list {
    padding-left: 1em;
  }
}
li.item {
  line-height: 1.2;
  a {
    margin-bottom: 0.25rem;
    display: block;
    text-decoration: none;
    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}
