@import 'vars';

ol.list {
  list-style: none;
  margin: 0;
  .list {
    padding: 0;
    padding-left: 1em;
  }
}

.item {
  padding: 0.15em 0.35em;
  border-radius: var(--br);
  display: block;
  text-decoration: none;
  &:hover,
  &:focus-visible {
    text-decoration: underline;
    color: var(--blue-90);
  }
}

.current {
  @include bp(l) {
    color: var(--blue-90);
    background: var(--gray-20);
  }
}
