@import 'vars';

.container {
  grid-column: 1/6;
  @include bp(m) {
    grid-column: 3/4;
  }
}

.tab-content {
  @extend %copy;
  padding: 1rem;
  border: $text-border;
  border-bottom-left-radius: var(--br);
  border-bottom-right-radius: var(--br);
  border-top-right-radius: var(--br);
  background-color: white;
  *:last-child {
    margin-bottom: 0;
  }
}

.tabs-list {
  border: $text-border;
  background: var(--gray-30);
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
  border-bottom: 0;
  list-style: none;
  display: inline-block;
  margin-left: 0 !important;
  margin-bottom: -2px !important;
  li {
    margin-bottom: 0;
    display: inline-block;
  }
}

.tab {
  background: var(--gray-30);
  line-height: 1.25;
  border-top-right-radius: var(--br);
  border-top-left-radius: var(--br);
  position: relative;
  margin-bottom: 0 !important;
  button {
    display: block;
    padding: 0.3em 0.65em;
    padding-bottom: 0.4em;
    cursor: pointer;
    color: var(--gray-70);
    font-size: var(--ms--1);
    text-decoration: none;
    overflow: hidden;
    text-transform: capitalize;
    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }
  }
}

.tab-active {
  background: white;
  button {
    font-weight: 600;
    color: var(--black);
  }
}
