@import 'vars';

.container {
  background: var(--yellow-20);
  cursor: pointer;
  text-align: left;
  font-weight: 500;
  padding: 0 0.1em;
  transition: var(--fast);
  border-radius: 2px;
  outline: 1px solid transparent;
  white-space: nowrap;
  &:hover,
  &:focus-visible {
    outline: 1px solid var(--blue-80);
  }
}
.header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding-bottom: 0.35rem;
  margin-bottom: 0.35rem;
  font-size: var(--ms-0);
  border-bottom: 2px solid var(--gray-20);
  align-items: flex-start;
}

.close {
  cursor: pointer;
  font-size: 0;
  border-radius: var(--br);
  padding: 0.25rem;
  background: var(--gray-20);
  border: 1px solid var(--gray-20);
  width: 1.35rem;
  height: 1.35rem;
  flex-shrink: 0;
  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    display: block;
  }
  &:hover,
  &:focus-visible {
    border: 1px solid var(--gray-60);
  }
}

.title {
  display: block;
  font-size: var(--ms-0);
  font-weight: 600;
  line-height: 1.1;
  font-style: normal;
}

.description {
  display: block;
  font-weight: 400;
  hyphens: auto;
}

.content {
  @extend %caption;
  display: block;
  line-height: 1.3;
  padding: 1em;
  padding-top: 0.9em;
  width: 100%;
  hyphens: auto;
  max-width: 25rem;
}
