@import 'vars';

.container {
  display: grid;
  position: relative;
  grid-template-columns: 1rem 1fr;
  row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-items: baseline;
  margin-left: 0.5rem;
  grid-column: 1/6;
  @include bp(m) {
    grid-column: 3/4;
  }
  ol {
    display: contents;
    margin-left: 0;
  }
}

.line {
  width: 2px;
  position: absolute;
  top: 1rem;
  bottom: 0;
  display: block;
  grid-column: 1 / 2;
  background: var(--gray-20);
}

.event {
  padding: 0;
  display: contents;
}

.event-date {
  text-align: right;
  font-size: var(--ms--1);
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-feature-settings: 'tnum';
  &:after {
    content: '';
    position: absolute;
    left: -1rem;
    top: 0;
    transform: translateX(-50%);
    background: var(--gray-30);
    width: 11px;
    height: 11px;
    border-radius: 100%;
    grid-column: 2/3;
    border: 5px solid var(--gray-10);
  }
}
.event-description {
  grid-column: 2/3;
}
.event-title {
  @extend %h3;
  margin-top: 0 !important;
}

.event-header {
  display: flex;
  align-items: flex-end;
}

.event-toggle {
  @extend %caption;
  border-radius: 6px;
  padding: 0.1em 0.35em;
  padding-bottom: 0.25em;
  line-height: 1;
  margin-left: 0.75em;
  position: relative;
  top: -0.4em;
  cursor: pointer;
  color: var(--blue-80);
  border: 1px solid var(--gray-30);
  &:hover,
  &:focus-visible {
    color: var(--black);
    border: 1px solid var(--black);
  }
}
