.tooltip {
  position: absolute;
  background: white;
  font-size: var(--ms--1);
  border-radius: var(--br);
  filter: drop-shadow(0px 2px 3px rgba(black, 0.2));
  border: 1px solid var(--blue-80);
  display: inline-block;
  max-width: 28rem;
  opacity: 0;
  transition: var(--fast);
  pointer-events: none;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.tooltip-top-center {
  composes: tooltip;
  transform: translateX(-50%) translateY(calc(-100% + 5px));
  &.active {
    transform: translateX(-50%) translateY(-100%);
  }
  .arrow {
    transform: translateX(-50%) translateY(50%) rotate(45deg);
    bottom: -1px;
    left: 50%;
  }
}

.arrow {
  background-color: white;
  width: 1rem;
  height: 1rem;
  position: absolute;
  display: block;
  border-bottom: 1px solid var(--blue-80);
  border-right: 1px solid var(--blue-80);
}
