.container {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  font-size: var(--ms--1);
  border-radius: var(--br);
  filter: drop-shadow(0px 2px 3px rgba(black, 0.2));
  border: 1px solid rgba(black, 0.85);
  display: block;
  opacity: 0;
  transition: opacity var(--fast);
  pointer-events: none;
  z-index: 1000;
}

.active {
  opacity: 1;
  pointer-events: none;
}

.top-center {
  .arrow {
    transform: translateX(-50%) translateY(50%) rotate(45deg);
    bottom: -1px;
  }
}

.bottom-right {
  transform: translateY(15px);
  .arrow {
    transform: translateY(-50%) rotate(-135deg);
    top: -1px;
    right: 2rem;
  }
}

.arrow {
  background-color: white;
  width: 12px;
  height: 12px;
  position: absolute;
  display: block;
  border-bottom: 1px solid rgba(black, 0.85);
  border-right: 1px solid rgba(black, 0.85);
}
