@import 'vars';

.container {
  background: var(--blue-10);
  border-radius: var(--br);
  padding: 1em;
}
.eyebrow {
  @extend %caption;
  display: block;
  margin-bottom: 0.25em;
}

.title {
  @extend %h3;
  margin-top: 0;
}

.long-title {
  @extend %caption;
  max-width: 30em;
  padding-top: 0.25em;
  font-weight: normal;
  display: block;
}

.name {
  font-family: var(--mono);
  font-weight: 300;
  margin-left: 0.65em;
  display: inline-flex;
}
