@import 'vars';

.container {
  border-radius: var(--br);
  padding: 1.35em 1.25em;
  background: var(--blue-10);
}

.title {
  @extend %h2;
  margin-top: 0;
}
.subtitle {
  @extend %h4;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.long-title {
  @extend %caption;
  max-width: 30em;
  padding-top: 0.25em;
  font-weight: normal;
  display: block;
}

.name {
  font-family: var(--mono);
  font-weight: 300;
  margin-left: 0.65em;
  display: inline-flex;
}

p.description {
  margin-bottom: 0.5em;
}
