@import 'vars';

$border-color: var(--gray-50);

.container {
  --col-count: 10;
  @include bp(m) {
    --col-count: 25;
  }
}
.items {
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  list-style: none;
  margin-left: 0 !important;
  overflow: visible;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
}
.item {
  font-size: var(--ms--1);
  background: white;
  border-collapse: collapse;
  font-family: var(--mono);
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin-bottom: 0 !important;
  padding: 0.1em;
  letter-spacing: 0.015em;
  display: flex;
  user-select: none;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: rgba(black, 0.95);
  font-weight: 100;
  position: relative;
  &:hover,
  &:focus-visible {
    box-shadow: 0px 0 0 2px inset rgba(black, 0.95);
    border-right: 1px solid black;
    z-index: 100;
  }
  &:last-of-type {
    border-right: 1px solid $border-color;
  }
}

.signature {
  background: var(--yellow-50);
}
.ratification {
  background: var(--blue-40);
}
.accession,
.succession,
.acceptance {
  background: var(--blue-20);
}

.tooltip {
  @extend %caption;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity var(--fast);
  background: var(--gray-10);
  z-index: 100;
  padding: 0.5em;
  border-radius: var(--br);
  border: 1px solid rgba(black, 0.85);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  max-width: 20em;
  line-height: 1.25;
  filter: drop-shadow(0px 2px 3px rgba(black, 0.2));
  time {
    background: var(--blue-20);
    font-family: var(--mono);
    font-size: 0.9em;
    word-spacing: -0.25em;
    padding: 0.05em 0.25em;
    white-space: nowrap;
  }
}

.tooltip-active {
  opacity: 1;
  visibility: visible;
}
