@import 'vars';

$border-color: var(--blue-70);

.container {
  --col-count: 10;
  @include bp(s) {
    --col-count: 14;
  }
  @include bp(m) {
    --col-count: 20;
  }
}
.items {
  display: grid;
  grid-template-columns: repeat(var(--col-count), 1fr);
  list-style: none;
  margin-left: 0 !important;
  overflow: visible;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  li {
    display: contents;
  }
}
.item {
  font-size: calc(var(--ms--1) * 0.85);
  background: white;
  border-collapse: collapse;
  font-family: var(--mono);
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin-bottom: 0 !important;
  padding: 0.2em;
  letter-spacing: 0.03em;
  display: flex;
  user-select: none;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: rgba(black, 0.95);
  font-weight: 100;
  position: relative;
  &:hover,
  &:focus-visible {
    box-shadow: 0px 0 0 2px inset rgba(black, 0.95);
    border-right: 1px solid black;
    z-index: 100;
  }
  &:last-of-type {
    border-right: 1px solid $border-color;
  }
}

.source {
  @extend %caption;
  font-size: var(--ms--2);
}

.signature {
  background: var(--yellow-50);
}
.ratification {
  background: var(--blue-40);
}
.accession,
.succession,
.acceptance {
  background: var(--blue-20);
}

.tooltip-content {
  @extend %caption;
  padding: 0.5em;
  position: relative;
  z-index: 100;
  display: block;
  max-width: 20em;
  line-height: 1.25;
  time {
    background: var(--blue-20);
    font-family: var(--mono);
    font-size: 0.9em;
    word-spacing: -0.25em;
    padding: 0.05em 0.25em;
    white-space: nowrap;
  }
}
