@import 'vars';

.container {
  @extend %mono;
  font-size: inherit;
  padding: 0.25em 0.6em;
  padding-top: 0.35em;
  line-height: 1;
  text-decoration: inherit;
  position: relative;
  display: inline-block;
  color: var(--blue-90);
  &:after {
    content: '';
    background: var(--yellow-50);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: skewX(-10deg);
  }
  @include bp(m) {
    opacity: 1;
  }
}

.label {
  z-index: 10;
  position: relative;
}
