@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 100rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 40rem) {
      @content;
    }
  } @else if $point==xs {
    @media (min-width: 30rem) {
      @content;
    }
  }
}

%h1 {
  font-variation-settings: 'wght' 520, 'wdth' 90, 'opsz' 144;
  font-family: var(--sans);
  font-size: var(--ms-5);
  letter-spacing: -0.005em;
  line-height: calc(var(--baseline) * 2.5);
  hyphens: none;
  text-wrap: balance;
  @include bp(xl) {
    font-variation-settings: 'wght' 470, 'wdth' 90, 'opsz' 144;
    line-height: calc(var(--baseline) * 3.66666);
    font-size: var(--ms-7);
  }
}
%h2 {
  font-family: var(--sans);
  font-size: var(--ms-2);
  font-variation-settings: 'wght' 520, 'wdth' 90;
  line-height: calc(var(--baseline) * 1.33333);
  hyphens: none;
}

%h3 {
  font-family: var(--sans);
  font-size: var(--ms-0);
  letter-spacing: -0.005em;
  font-variation-settings: 'wght' 575, 'wdth' 90;
  line-height: calc(var(--baseline) * 0.75);
}
%h4 {
  text-transform: uppercase;
  font-family: var(--sans);
  font-size: var(--ms--1);
  letter-spacing: 0.03em;
  font-variation-settings: 'wght' 400, 'wdth' 200 !important;
  line-height: calc(var(--baseline) * 1);
}

%copy {
  font-size: var(--ms-0);
  font-family: var(--sans);
  line-height: var(--baseline);
  font-variation-settings: 'wght' 400, 'wdth' 112, 'opsz' 25;
  letter-spacing: 0.005em;
  hyphens: auto;

  em {
    font-variation-settings: 'wght' 400, 'wdth' 112, 'opsz' 25;
  }
}

%copy-bold {
  @extend %copy;
  font-variation-settings: 'wght' 700;
  letter-spacing: 0;
}

%copy-wide {
  @extend %copy;
  font-size: var(--ms-0);
  font-variation-settings: 'wdth' 350, 'wght' 400;
  letter-spacing: 0.01em;
  em {
    letter-spacing: 0;
    font-variation-settings: 'wdth' 300, 'wght' 400, 'slnt' -8;
  }
}

%copy-large {
  @extend %copy;
  font-variation-settings: 'wght' 300, 'wdth' 110;
  letter-spacing: 0.01em;
  line-height: calc(var(--baseline) * 1.25);
  font-size: var(--ms-1);
  em {
    font-variation-settings: 'wght' 300, 'wdth' 110, 'slnt' -10;
  }
}

%caption {
  font-size: var(--ms--1);
  letter-spacing: 0.01em;
  font-variation-settings: 'wght' 300, 'wdth' 90, 'opsz' 15;
  line-height: calc(var(--baseline) * 0.66);
  em {
    font-variation-settings: 'slnt' -10, 'wght' 300, 'wdth' 90, 'opsz' 15 !important;
  }
}
%caption-bold {
  @extend %caption;
  letter-spacing: 0;
  font-variation-settings: 'wght' 550, 'wdth' 90, 'opsz' 10;
}

%grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 5rem) minmax(auto, 48rem) minmax(auto, 5rem) 1fr;
  column-gap: var(--padding-small);
  margin: 0 auto;
  max-width: 110rem;
}
