@import 'vars';

.container {
  margin: var(--baseline) 0;
  grid-column: 3 / 4;
  position: relative;
  p:last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0.6em;
  }
}

.inner {
  padding: calc(var(--baseline) * 1);
  background: var(--fc-background);
  border-left: 0.2em solid var(--fc-text);
}

.title {
  @extend %h3;
  font-size: var(--ms-1);
  line-height: calc(var(--baseline) * 1);
  margin-bottom: calc(var(--baseline) * 0.333);
}

.eyebrow {
  @extend %h4;
  display: block;
  margin-bottom: 0.2em;
}
