@import 'vars';

.container {
  margin-top: calc(var(--baseline) * 0.75);
  margin-bottom: calc(var(--baseline) * 0.5);
  grid-column: 1 / 2;
}

.captions {
  @extend %caption;
}
.caption {
  p {
    margin-bottom: 0 !important;
  }
}

.credit {
  color: var(--gray-dark);
  display: block;
}

.image {
  margin-bottom: 0.75rem;
}
