@import 'vars';

.container {
  @extend %caption;
  grid-column: 1 / 6;
  padding: 1em;
  margin: var(--baseline) 0;
  border: 1px solid var(--gray-light);
}

.nodes {
  display: grid;
  gap: 1em;
}

.title {
  @extend %h4;
  margin-bottom: 0.5em;
  margin-top: -0.5em;
}

.department {
  background: var(--fc-background);
  word-break: break-word;
  overflow-wrap: break-word;
}

.department-title {
  @extend %h3;
  hyphens: none;
  padding: 0.65em var(--ms--1);
  border-bottom: 1px solid rgba(black, 0.25);
}

.department-eyebrow {
  @extend %caption;
  display: block;
  margin-bottom: 0.1em;
}

.department-description {
  padding: var(--ms--1);
  h3 {
    @extend %caption-bold;
    hyphens: none;
  }
  li {
    list-style: none;
    &:last-child {
      margin-bottom: 0;
    }
  }
  p,
  ul {
    margin-bottom: calc(var(--baseline) * 0.5);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// 2022 & 2023
.board1,
.board2,
.board3,
.board4 {
  background: rgb(197, 216, 240);
  grid-column: span 10;
  @include bp(m) {
    grid-column: span 10;
  }
  @include bp(l) {
    grid-column: span 5;
    grid-row: span 2;
  }
}

// 2024
.board124,
.board224,
.board324,
.board424,
.board524 {
  background: rgb(197, 216, 240);
  grid-column: span 15;
  @include bp(m) {
    grid-column: span 10;
  }
  @include bp(l) {
    grid-column: span 6;
    grid-row: span 2;
  }
}


// 2022 & 2023
.dep1,
.dep2,
.dep3,
.dep4,
.dep5 {
  background: rgb(230, 236, 247);
  grid-column: span 10;
  @include bp(m) {
    grid-column: span 10;
  }
  @include bp(l) {
    grid-column: span 4;
    grid-row: span 2;
  }
}

// 2024
.dep124,
.dep224,
.dep324,
.dep424,
.dep524,
.dep624 {
  background: rgb(230, 236, 247);
  grid-column: span 15;
  @include bp(m) {
    grid-column: span 10;
  }
  @include bp(l) {
    grid-column: span 5;
    grid-row: span 2;
  }
}

.dep624 {
  background: rgb(230, 200, 248);
}



.comms,
.admin {
  grid-column: span 20;
  text-align: center;
  @include bp(m) {
    grid-column: span 20;
    text-align: center;
  }
}

// 2024
.admin24 {
  grid-column: span 30;
  text-align: center;
  @include bp(m) {
    grid-column: span 30;
    text-align: center;
  }
}