@import 'vars';

.container {
  padding: calc(var(--baseline) * 1) var(--padding);
  padding-top: calc(var(--baseline) * 5);
  display: flex;
  flex-flow: column;
  clear: both;
}

.menu {
  margin-bottom: 0.5em;
  ul {
    display: flex;
    list-style: none;
    gap: 0.5em;
  }
}

.copyright {
  opacity: 0.65;
}
