@import 'vars';

.container {
  padding: var(--baseline) var(--padding);
  display: flex;
  flex-flow: column;
  clear: both;
  align-items: center;
  @include bp(m) {
    align-items: flex-start;
    flex-flow: row;
    justify-content: space-between;
  }
}

.menu {
  @extend %caption-bold;
  ul {
    display: flex;
    list-style: none;
    gap: 0.5em;
  }
}

.copyright {
  @extend %caption;
  opacity: 0.65;
}
