@import 'vars';

.container {
  @extend %caption;
  padding: calc(var(--baseline) * 1);
  display: flex;
  flex-flow: column;
  clear: both;
  align-items: center;
  @include bp(m) {
    padding-top: calc(var(--baseline) * 4);
    align-items: flex-start;
  }
}

.menu {
  ul {
    display: flex;
    list-style: none;
    gap: 0.5em;
  }
}

.copyright {
  opacity: 0.65;
}
