@import 'vars';

.container {
  background: var(--fc-background);
  padding: 1em;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

.question {
  list-style: none;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

.prompt {
  @extend %copy-bold;
}
