@import 'vars';

.container {
  display: flex;
  border: 1px solid var(--black);
  font-size: var(--ms--1);
  border-radius: var(--br);
  height: 1.85em;
}

.item {
  display: block;
  list-style: none;
}

.item-current {
  background: var(--black);
  color: white;
  .inner {
    &:hover,
    &:focus-visible {
    }
  }
}

.inner {
  display: block;
  text-transform: uppercase;
  padding: 0em 0.5em;
  letter-spacing: 0.05em;
  &:hover,
  &:focus-visible {
    background: rgba(black, 0.05);
  }
}
