@import 'vars';

.container {
  display: flex;
  border: 1px solid var(--black);
  }

.link {
  padding: 0.2em 0.5em;
  display: block;
  border-left: 1px solid var(--black);
  &:first-child {
    border-left: 0
  }
}
.link-current {
  background: var(--black);
  color: white;
}
