@import 'vars';

.container {
  border-radius: 2px;
  grid-column: 1 / 4;
}

.map {
  background: var(--blue-light);
  width: 100%;
}
.label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-family: 'Atlas Grotesk';
  font-size: 0.75rem;
  color: rgb(82, 79, 79);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.548);
}

.country {
  fill: rgb(255, 255, 255);
  stroke: rgb(167, 170, 179);
  stroke-width: 0.5;
}

.caption {
  @extend %caption-bold;
}
.credit {
  @extend %caption;
  opacity: 0.75;
}
