@import 'vars';

.container {
  @extend %caption;
  padding-top: calc(var(--baseline));
  align-self: flex-end;
  float: left;
  li {
    display: inline-block;
    hyphens: none;
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h2 {
    font-size: var(--ms-0) !important;
    color: var(--fc-text);
    font-variation-settings: 'wght' 600 !important;
  }
  ul {
    list-style-type: none;
    column-gap: 2em;
  }
}
