@import 'vars';

.container {
  @extend %caption;
  grid-column: 2 / 5;
  @include bp(l) {
    grid-column: 3 / 4;
  }
  padding-top: calc(var(--baseline));
  align-self: flex-end;
  li {
    display: inline-block;
    hyphens: none;
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h2 {
    @extend %h3;
    margin-bottom: calc(var(--baseline) * 0.5);
  }
  ul {
    list-style-type: none;
    columns: 2;
    column-gap: 2em;
  }
}
