@import 'vars';

.container {
  grid-column: 1 / 6;
  margin-bottom: var(--baseline);
  @include bp(m) {
    grid-column: 1 / 3;
    grid-row: span 6;
    max-width: 16rem;
  }
  @include bp(xl) {
    grid-column: 1 / 2;
  }
}

.inner {
  display: flex;
  @include bp(m) {
    flex-flow: column;
  }
}

.list {
  display: flex;
  flex-flow: column;
  margin-top: var(--baseline);
  margin-bottom: var(--baseline);
  align-items: flex-start;
  grid-column: 1 / 6;
  @include bp(m) {
    grid-column: 1 / 3;
    grid-row: span 6;
    margin-top: 0;
  }
  @include bp(xl) {
    grid-column: 1 / 2;
  }
  .container {
    margin: 0;
  }
}

.list-inner {
  display: flex;
  gap: var(--baseline);
  align-items: flex-start;
  flex-flow: column;
}

.list-title {
  @extend %h4;
  margin-bottom: 1em;
}

.name {
  @extend %h3;
  margin-bottom: 0.2em;
}

.image {
  flex-basis: 25%;
  flex-grow: 1;
}

.bio {
  @extend %caption;
  padding: 1em;
  flex-basis: 75%;
  background: var(--fc-background);

  p:last-child {
    margin-bottom: 0;
  }
}
