@import 'vars';

.post-container {
  @extend %copy;
}

.pagination {
  border: 1px solid var(--black);
  border-radius: var(--br);
  height: 1.85em;
  font-size: var(--ms--1);
  display: flex;
}

.hero-image {
  margin-top: calc(var(--baseline) * 1.5);
  grid-column: 2 / 4;
}

.pagination-link {
  display: block;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--black);
  &:first-child {
    border-left: 0;
  }
}

.trace-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  mix-blend-mode: multiply;
  opacity: 0.5;
  transform: translateY(40%);
  pointer-events: none;
  path {
    stroke: var(--fc-text);
    stroke-width: 0.5;
    stroke-dasharray: 2px 1px;
  }
}
