@import 'vars';

.container {
  background-color: var(--fc-background);
  margin-bottom: var(--baseline);
  position: relative;
  overflow: hidden;
  padding: calc(var(--baseline) * 1) 0;
  padding-top: calc(var(--baseline) * 3);
  box-shadow: 0 -20px 15px -10px inset rgba(black, 0.01);
  border-bottom: 1px solid rgba(black, 0.05);
  @include bp(m) {
    padding: calc(var(--baseline) * 2) 0;
    padding-top: calc(var(--baseline) * 4);
    text-align: left;
  }
}

.inner {
  @extend %grid;
}

.eyebrow {
  @extend %caption-bold;
  display: block;
  grid-column: 1 / 4;
  margin-bottom: calc(var(--baseline) * 1);
  text-decoration: underline;
  text-decoration-thickness: 0.25em;
  text-decoration-color: var(--fc-text);
  text-decoration-skip-ink: none;
  text-underline-offset: 0.5em;
  @include bp(m) {
    grid-column: 2 / 4;
  }
  @include bp(l) {
    margin-bottom: calc(var(--baseline) * 1.5);
    grid-column: 3 / 4;
  }
}

.title {
  @extend %h1;
  grid-column: 1 / 5;
  @include bp(m) {
    grid-column: 2 / 4;
  }
  @include bp(l) {
    grid-column: 3 / 4;
  }
}

.intro {
  @extend %copy;
  grid-column: 1 / 5;
  @include bp(m) {
    grid-column: 2 / 4;
  }
  @include bp(l) {
    grid-column: 3 / 4;
  }
  p + p {
    margin-top: calc(var(--baseline) * 0.5);
  }
  max-width: 55em;
  margin-top: calc(var(--baseline) * 1);
}
