@import 'vars';

.post-container {
  @extend %copy;
  padding: 0 var(--padding);
}

.header {
  margin-bottom: 0.5em;
}

.title {
  @extend %h1;
}

.intro {
  @extend %copy-large;
}

.byline {
  @extend %copy;
  margin-top: 0.5em;
}
