@import 'vars';

.post-container {
  @extend %copy;
}

.header {
  margin-bottom: 0.5em;
  background-color: var(--fc-background);
  // color: var(--fc-text);
  // border-left: 0.65rem solid var(--fc-text);
  // border-bottom: 1px solid var(--fc-text);
  border-left: var(--padding) solid var(--fc-text);
  padding: calc(var(--baseline) * 2.5) var(--padding);
  padding-left: 0;
  margin-bottom: var(--baseline);
  display: flex;
  flex-flow: column;
  align-items: center;
  // text-align: center;
}

.header-inner {
  max-width: 50rem;
}

.hero-image {
  margin-bottom: calc(var(--baseline) * 1.5);
}

.title {
  @extend %h1;
}

.intro {
  @extend %copy;
  max-width: 55em;
  text-align: left;
  margin-top: calc(var(--baseline) * 1.5);
}

.pagination {
  border: 1px solid var(--black);
  border-radius: var(--br);
  height: 1.85em;
  font-size: var(--ms--1);
  display: flex;
}

.pagination-link {
  display: block;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--black);
  &:first-child {
    border-left: 0;
  }
}

.body {
  margin: 0 auto;
  max-width: 50rem;
  p {
    margin-bottom: calc(var(--baseline) * 0.5);
  }
  & > h2 {
    @extend %h2;
    margin-top: calc(var(--baseline) * 1.5);
    margin-bottom: calc(var(--baseline) * 0.5);
  }

  a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;
    text-underline-offset: 0.15em;
    &:hover,
    &:focus-visible {
      text-decoration-style: solid;
    }
  }
}

.eyebrow {
  text-transform: uppercase;
  font-variation-settings: 'wdth' 400, 'wght' 700;
  font-size: var(--ms--1);
  display: block;
  margin-bottom: calc(var(--baseline) * 1);
}
