.residencies {
  circle {
    fill: rgb(83, 115, 219);
  }
}
.guests {
  circle {
    fill: rgb(199, 146, 0);
  }
}
.collaborations {
  circle {
    fill: rgb(24, 64, 197);
  }
}
circle {
  fill: black;
  stroke: white;
  stroke-width: 1;
}
