.cooperations {
  circle {
    fill: var(--map-a);
  }
}
.guests {
  circle {
    fill: var(--map-b);
  }
}
.residencies {
  circle {
    fill: var(--map-c);
  }
}

.connection {
  line {
    stroke: rgba(black, 0.35);
  }
}
