@import 'vars';

.container {
  @extend %copy;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid var(--gray);
  z-index: 3000;
  background: white;
  box-shadow: 0 2px 1px 0 rgba(black, 0.075);
  overflow: hidden;
}

.inner {
  @extend %grid;
  width: 100%;
  align-items: stretch;
  padding: 0 var(--padding);
  @include bp(l) {
    height: 2.5em;
  }
}

.title {
  height: 100%;
  display: flex;
  justify-self: flex-start;
  grid-column: 1 / 4;
  font-variation-settings: 'wdth' 80, 'wght' 200;
  font-size: var(--ms-1);
  border-right: 1px solid var(--gray);
  padding-right: 0.75em;
  transform: skewX(-10deg);
  @include bp(m) {
    grid-column: 2 / 4;
  }
  @include bp(l) {
    grid-column: 1 / 3;
  }
  svg {
    height: 1em;
    display: block;
    width: auto;
    @include bp(m) {
    }
  }
  &:hover,
  &:focus-visible {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15em;
  }
}

.title-inner {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  transform: skewX(10deg);
  gap: 0.5em;
  @include bp(m) {
    gap: 0.25em;
  }
}

.menu {
  ul {
    height: 100%;
    display: flex;
    align-items: stretch;
    list-style: none;
    align-items: center;
    gap: 0.65em;
  }
}

.section {
  @extend %copy;
  font-size: var(--ms-0);
  align-items: center;
  position: relative;
  margin-top: 0.55em;
  display: none;
  @include bp(l) {
    display: flex;
  }
  &:hover,
  &:focus-visible {
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 1px;
  }
}

.section-inner {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  transition: var(--fast);
  span {
    display: block;
    transition: var(--fast);
  }
}

.section-post {
  opacity: 0;
}

.is-scrolled {
  .section-inner {
    transform: translateY(-50%);
  }
  .section-report {
    opacity: 0;
  }
  .section-post {
    opacity: 1;
  }
}

.controls {
  grid-column: 4 / 6;
  justify-content: flex-end;
  display: flex;
  align-items: stretch;
}
