@import 'vars';

.container {
  @extend %copy;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid var(--gray);
  z-index: 3000;
  background: white;
}

.inner {
  @extend %grid;
  width: 100%;
  align-items: stretch;
  height: 2.5em;
  padding: 0 var(--padding);
}

.title {
  display: flex;
  align-items: center;
  gap: 0.25em;
  height: 100%;
  grid-column: 1 / 3;
  font-variation-settings: 'wdth' 80, 'wght' 200;
  // text-transform: uppercase;
  // letter-spacing: 0.04em;
  font-size: var(--ms-1);
  svg {
    height: 1.5rem;
    display: block;
    width: auto;
  }
}

.menu {
  ul {
    height: 100%;
    display: flex;
    align-items: stretch;
    list-style: none;
    align-items: center;
    gap: 0.65em;
  }
}

.report {
  @extend %copy;
  font-size: var(--ms-0);
  display: flex;
  align-items: center;
  &:hover,
  &:focus-visible {
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 1px;
  }
}

.controls {
  grid-column: 4 / 6;
  justify-content: flex-end;
  display: flex;
  align-items: stretch;
}
