@import '../components/vars';

.body {
  @extend %grid;
  p {
    grid-column: 1 / 5;
    @include bp(l) {
      grid-column: 3 /4;
    }
  }
}

.reports {
  @extend %h2;
  list-style: none;
  margin-top: var(--baseline);
  margin-bottom: var(--baseline);
  grid-column: 1 / 6;
  @include bp(l) {
    grid-column: 3 / 4;
  }
}

.report-labels {
  @extend %h4;
  border-bottom: 1px solid var(--black);
}

.report,
.report-labels {
  display: flex;
  padding: calc(var(--baseline) * 0.5) 0;
  gap: 1rem;
}

.report {
  &:hover,
  &:focus-visible {
    background: rgba(black, 0.02);
    .report-year {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }
}

.report-year {
  flex-basis: 6rem;
  @include bp(m) {
    flex-basis: 10rem;
  }
}

.notes {
  grid-column: 1 / 5;
  @include bp(l) {
    grid-column: 3 / 4;
  }
  a {
    @extend %text-link;
  }
}

.container {
  @extend %copy;
}
