@import '../components/vars';

.container {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, var(--blue) 30vh);
    z-index: -10;
  }
}

.content {
  margin: 0 var(--padding);
  background: var(--black);
}

.section-title {
  font-family: var(--edge-rounded);
  font-size: var(--ms-1);
  text-transform: uppercase;
  border-bottom: 1px solid var(--gray);
  padding: var(--padding-small) var(--padding);
  padding-bottom: 0.3em;
}

.filters {
  display: flex;
  gap: var(--padding-small);
  list-style: none;
  padding: var(--padding);
  padding-bottom: 0;
  justify-content: center;
}

.filter {
  background: var(--blue);
  font-family: var(--edge-rounded);
  font-size: 8.55vw;
  line-height: 0.85;
  border-radius: 1000px;
  padding: 0 0.25em;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  padding-top: 0.2em;
}

.posts {
  padding: var(--padding);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--padding-small);
}

.post {
  background: var(--yellow);
  padding: 0 0.4em;
  font-size: var(--ms-4);
  border-radius: 1000px;
  color: var(--black);
  border: 1px solid var(--yellow);
  &:hover,
  &:focus-visible {
    background: transparent;
    color: var(--yellow);
  }
}
