@import '../components/vars';

.container {
  position: relative;
}

.content {
  margin: 0 var(--padding);
  background: var(--black);
  z-index: 100;
  position: relative;
  border-left: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}

.filters {
  display: flex;
  gap: var(--padding-small);
  list-style: none;
  padding: calc(var(--padding) * 2) 1em;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--gray);
}

.filter {
  font-family: var(--edge-rounded);
  line-height: 0.85;
  border-radius: 1000px;
  padding: 0.175em 0.3em;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  border: 1px solid var(--color);
  color: var(--color);
  background-color: transparent;
  transition: calc(var(--fast) * 1.75);
  cursor: pointer;
  outline-offset: 5px;
  font-size: var(--ms-5);
  @include bp(m) {
    font-size: 8.5vw;
  }
  &:hover,
  &:focus-visible {
    filter: brightness(1.15);
    transform: scale(1.0175);
  }
}

.active-filter {
  background: var(--color);
  color: var(--black);
  text-shadow: 0 1px 2px rgba(white, 0.2);
}

.intro-tools,
.intro-people,
.intro-space {
  font-style: italic;
}

.intro-tools {
  color: var(--yellow);
}
.intro-people {
  color: var(--green);
}
.intro-space {
  color: var(--blue);
}

.hero-video {
  position: fixed;
  top: 0;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
  min-height: 100%;
  min-width: 140vmax;
  aspect-ratio: 16 / 10;
  @include bp(m) {
    min-width: 100%;
  }
  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
