@import '../components/vars';

.initials {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--padding-small);
  padding: var(--padding-small) var(--padding);
  border-bottom: 1px solid var(--gray);
}
.initial {
  @extend %copy-large;
  --r: 1.6em;
  font-size: var(--ms-4);
  border: 1px solid var(--gray);
  color: var(--white);
  width: var(--r);
  height: var(--r);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.15em;
  border-radius: 1000px;
  cursor: pointer;
  box-shadow: inset 0em 0.2em 0.2em rgba(white, 0.1), inset 0em -0.1em 0.2em rgba(black, 0.3);
  &:hover,
  &:focus-visible,
  &.active {
    border-color: var(--white);
    background: var(--white);
    color: var(--black);
  }
}

.terms {
  list-style: none;
  // display: grid;
  // grid-template-columns: repeat(4, 25%);
  margin-bottom: -1px;
  li {
    display: contents;
  }
}

.term {
  border-bottom: 1px solid var(--gray);
  &[open] {
    grid-column: span 2;
    .term-title {
      border-bottom: 1px solid var(--gray);
      &:after {
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
}

.term-title {
  @extend %h2;
  font-weight: 100;
  appearance: none;
  list-style: none;
  padding: 0.35em var(--padding-small);
  padding-bottom: 0.3em;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  &:after {
    content: '+';
    position: absolute;
    transition: var(--fast);
    transform-origin: center;
    right: var(--padding-small);
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover,
  &:focus-visible {
    background: rgba(white, 0.04);
    cursor: pointer;
  }
}

.term-description {
  padding: var(--padding-small);
  @extend %copy;
}
