@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 100rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 40rem) {
      @content;
    }
  } @else if $point==xs {
    @media (min-width: 30rem) {
      @content;
    }
  }
}

%h1 {
  font-family: var(--edge-rounded);
  letter-spacing: -0.03em;
  hyphens: auto;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow:
    1px 0 0 black,
    1px 1px 0 black,
    0 1px 0 black,
    -1px 1px 0 black,
    -1px 0 0 black,
    -1px -1px 0 black,
    0px -1px 0 black;
  font-size: Max(11.5vw, var(--ms-5));
  line-height: 0.9;
  @include bp(m) {
    line-height: 0.825;
  }
}

%h1-long {
  @extend %h1;
  font-size: 14vw;
  hyphens: auto;
  @include bp(m) {
    font-size: 8vw;
  }
}

%h2 {
  font-size: var(--ms-1);
  text-wrap: balance;
  hyphens: none;
  font-weight: bold;
  font-family: var(--edge);
  line-height: calc(var(--baseline) * 1.2);
}

%h3 {
  font-family: var(--edge);
  font-size: 0.9em;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

%h4 {
}

%copy {
  font-family: var(--circa);
  font-size: var(--ms-0);
  line-height: var(--baseline);
  letter-spacing: 0.01em;
  word-spacing: 0.0075em;
  hyphens: auto;
  font-variation-settings: 'wght' 350;

  a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.15em;
  }
}

%copy-italic {
  font-style: italic;
  font-size: inherit;
  letter-spacing: 0;
}

%copy-sans {
  @extend %copy;
  font-family: var(--edge);
  font-size: 0.85em;
  letter-spacing: 0.03em;
  line-height: calc(var(--baseline) * 0.85);
}

%copy-large {
  font-family: var(--circa);
  font-weight: 400;
  hyphens: auto;
  font-size: var(--ms-1);
  line-height: calc(var(--baseline) * 1.1);
  letter-spacing: 0.01em;
  @include bp(m) {
    letter-spacing: -0.001em;
    font-size: var(--ms-2);
    line-height: calc(var(--baseline) * 1.3333);
  }
}

%caption {
  line-height: 1.25;
  font-family: var(--edge);
  font-size: var(--ms--2);
  letter-spacing: 0.05em;
  word-spacing: -0.075em;
}
%caption-italic {
  @extend %caption;
  font-style: italic;
  letter-spacing: 0.025em !important;
}

%caption-bold {
  @extend %caption;
  font-weight: 600;
  letter-spacing: 0.04em;
}

%caption-caps {
  @extend %caption;
  text-transform: uppercase;
  letter-spacing: 0.055em;
}

%sub-caption {
  @extend %caption-caps;
  letter-spacing: 0.1em;
  font-size: var(--ms--3);
}
