@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 100rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 40rem) {
      @content;
    }
  } @else if $point==xs {
    @media (min-width: 30rem) {
      @content;
    }
  }
}

%h1 {
  font-size: Max(12vw, var(--ms-5));
  font-family: var(--edge-rounded);
  line-height: 0.825;
  letter-spacing: -0.03em;
  hyphens: none;
  font-weight: 600;
  text-transform: uppercase;
}
%h1-long {
  @extend %h1;
  font-size: Max(8vw, var(--ms-5));
}

%h2 {
  font-size: var(--ms-3);
  line-height: calc(var(--baseline) * 1.5);
  letter-spacing: -0.01em;
}

%h3 {
  font-family: var(--edge);
  font-size: var(--ms-1);
  line-height: 1.1;
}

%h4 {
}

%copy {
  font-family: var(--circa);
  font-size: var(--ms-0);
  line-height: var(--baseline);
  letter-spacing: 0.005em;
  word-spacing: 0.005em;
  hyphens: auto;
  font-weight: 500;
  p,
  ul,
  ol {
    margin-bottom: calc(var(--baseline) * 0.5);
    &:last-child {
      margin-bottom: 0;
    }
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: 600;
  }
  a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-style: dotted;
    text-underline-offset: 0.15em;
    &:hover,
    &:focus-visible {
      text-decoration-style: solid;
    }
  }
  li {
    margin-bottom: 0.25em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    padding-left: 1.5em;
  }
  ul li {
    list-style: none;
    position: relative;
    &:before {
      position: absolute;
      left: -1.4em;
      top: -0.05em;
      content: '→';
      font-weight: 400;
    }
  }
  sup {
    @extend %caption;
    vertical-align: baseline;
    position: relative;
    display: inline-block;
    top: -0.4em;
    a {
      text-decoration: none !important;
    }
  }
  h2 {
    @extend %h2;
    margin-top: calc(var(--baseline) * 0.5);
    margin-bottom: calc(var(--baseline) * 0.25);

    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    @extend %h3;
    &:first-child {
      margin-top: 0;
    }
  }
  h4 {
    @extend %h4;
  }
}

%copy-large {
  font-family: var(--circa);
  font-size: var(--ms-2);
  letter-spacing: -0.001em;
  line-height: calc(var(--baseline) * 1.5);
  font-weight: 400;
  hyphens: auto;
  @include bp(s) {
    font-size: var(--ms-3);
  }
}

%caption {
  line-height: 1.2;
  font-family: var(--edge);
  font-size: var(--ms--1);
  letter-spacing: 0.005em;
}
%caption-bold {
  @extend %caption;
  font-weight: 600;
  letter-spacing: 0.01em;
}

%caption-caps {
  @extend %caption;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
