@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 100rem) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: 80rem) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 55rem) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 50rem) {
      @content;
    }
  } @else if $point==xs {
    @media (min-width: 30rem) {
      @content;
    }
  }
}

%h2 {
  font-family: var(--haas-text);
  line-height: 1.1;
  hyphens: none;
  font-weight: 600;
  font-size: var(--ms-4);
  letter-spacing: -0.02em;
  & + h3 {
    margin-top: 0;
  }
}

%h3 {
  line-height: 1.1;
  font-weight: 600;
  font-family: var(--haas-text);
  margin-top: calc(var(--ms-1) * 0.5);
  margin-bottom: calc(var(--ms-1) * 0.25);
  font-size: var(--ms-2);
  & + h4 {
    margin-top: 0.1em;
  }
}
%h4 {
  line-height: 1.1;
  // font-weight: 600;
  font-family: var(--haas-text);
  margin-bottom: calc(var(--ms-1) * 0.25);
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: calc(var(--ms-1) * 1);
}

%copy {
  font-family: var(--suisse);
  font-size: var(--ms-1);
  line-height: 1.45;
  letter-spacing: -0.005em;
  hyphens: auto;
  font-weight: 500;
  p,
  ul,
  ol {
    margin-bottom: 0.65em;
    @include bp(m) {
      margin-bottom: 0.85em;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: 600;
  }
  a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--gray-dark);
    text-underline-offset: 0.15em;
    &:hover,
    &:focus-visible {
      text-decoration-color: var(--black);
    }
  }
  li {
    margin-bottom: 0.25em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    padding-left: 1.5em;
  }
  ul li {
    list-style: none;
    position: relative;
    &:before {
      position: absolute;
      left: -1.4em;
      top: -0.05em;
      content: '→';
      font-weight: 400;
    }
  }
  sup {
    @extend %caption;
    vertical-align: baseline;
    position: relative;
    display: inline-block;
    top: -0.4em;
    a {
      text-decoration: none !important;
    }
  }
  h2 {
    @extend %h2;
    margin-top: calc(var(--ms-1) * 1);
    margin-bottom: calc(var(--ms-1) * 0.5);

    &:first-child {
      margin-top: 0;
    }
    @include bp(m) {
      margin-top: calc(var(--ms-1) * 0.5);
    }
    @include bp(l) {
      margin-top: calc(var(--ms-1) * 1.5);
    }
  }
  h3 {
    @extend %h3;
    &:first-child {
      margin-top: 0;
    }
  }
  h4 {
    @extend %h4;
  }
}

%caption {
  font-family: var(--haas-text);
  font-feature-settings: 'ss03' 1, 'tnum' 1;
  font-size: var(--ms-0);
  line-height: 1.2;
  letter-spacing: 0.005em;
  a {
    text-decoration: underline;
    text-decoration-color: var(--gray-dark);
    text-underline-offset: 0.15em;
    &:hover,
    &:focus {
      text-decoration-color: var(--gray-black);
    }
  }
}
%caption-bold {
  @extend %caption;
  font-weight: 600;
  letter-spacing: 0.01em;
}

%caption-caps {
  @extend %caption;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

%copy-large {
  font-family: var(--suisse);
  font-size: var(--ms-2);
  letter-spacing: -0.025em;
  line-height: 1.4;
  font-weight: 400;
  hyphens: auto;
  @include bp(s) {
    font-size: var(--ms-3);
    line-height: 1.15;
  }
}
