.container {
  background: var(--color);
  min-height: 100svh;
  position: relative;
  padding-bottom: var(--footer-height);

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: linear-gradient(to bottom, transparent 80vh, black 100vh);
    z-index: 50;
    pointer-events: none;
  }
}
