@import 'vars';
.item {
  text-align: left;
  border-bottom: 1px solid var(--black);
  list-style: none;
  padding: 0.75rem;
  padding-right: 3.5rem;
  position: relative;
  @include bp(m) {
    padding: rem;
    padding-right: 3.5rem;
  }
}

.link {
  &:hover,
  &:focus-visible {
    .title {
      text-decoration: underline;
    }
  }
}

.title {
  display: block;
  letter-spacing: -0.015em;
  line-height: 1.1;
  font-size: var(--ms-2);
  font-weight: 600;
}

.authors {
  @extend %caption;
}

.remove {
  position: absolute;
  right: 0.75rem;
  top: 0.65rem;
}

.actions {
  padding: 0.75rem;
  display: flex;
  flex-flow: column;
}

.empty {
  @extend %caption;
  padding: 0.85rem 2rem;
}
