@import 'vars';
.item {
  text-align: left;
  border-bottom: 1px solid var(--gray);
  list-style: none;
  padding: 0.4em var(--padding-small);
  gap: 10em;
  padding-bottom: 0.2em;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
}

.link {
  &:hover,
  &:focus-visible {
    background: rgba(white, 0.1);
  }
}

.title {
  display: block;
  @extend %h2;
  font-size: var(--ms-0);
  font-weight: 100;
}

.authors {
  @extend %caption;
}

.remove {
  button {
    border: 0;
  }
}

.actions {
  display: flex;
  flex-flow: column;
  padding: var(--padding-small);
}

.empty {
  @extend %caption;
  padding: 0.85rem 2rem;
}
