@import 'vars';

.container {
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.item {
  text-align: left;
  border-bottom: 1px solid var(--gray);
  list-style: none;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  display: flex;
}

.link {
  flex-grow: 1;
  border-right: 1px solid var(--gray);
  padding: 0.75em var(--padding-small);
  padding-top: 0.75em;
  &:hover,
  &:focus-visible {
    background: var(--black-hover);
  }
}

.title {
  @extend %h2;
  display: block;
  font-size: var(--ms-0);
  font-weight: 100;
  line-height: 1.35;
}

.authors {
  @extend %caption;
}

.remove {
  button {
    width: 3rem;
  }
}

.actions {
  display: flex;
  flex-flow: column;
  padding: var(--padding-small);
}

.empty {
  @extend %caption;
  max-width: 20em;
  text-align: center;
  margin: 0 auto;
  padding: 1em var(--padding-small);
}
