@import 'vars';

.container {
  display: inline-flex;
  font-family: var(--edge);
  cursor: pointer;
  align-items: center;
  font-size: var(--ms-1);
  border-radius: var(--br);
  color: var(--white);
  border: 1px solid var(--gray);
  height: 1.85em;
  position: relative;
  padding: 0 0.75em;
  padding-top: 0.15em;
  @include bp(m) {
    height: 1.85em;
  }
  &:hover,
  &:focus-visible {
    border-color: var(--white);
  }

  &.has-icon {
    padding-right: 2em;
  }
}
.hide-label {
  width: 2.1em;
  padding: 0;
  .label {
    position: absolute;
    font-size: 0;
  }
}

.loading {
  cursor: progress;
  .label {
    opacity: 0.75;
  }
}
.disabled {
  cursor: default;
  .label {
    opacity: 0.75;
  }
  &:hover {
    border: 1px solid var(--gray-light);
  }
}

.secondary {
  background: var(--gray-light);
  border: 1px solid var(--gray-light);
  color: var(--black);
  &.loading {
    color: var(--gray-dark);
    cursor: progress;
    svg {
      color: var(--black);
    }
    &:hover,
    &:focus-visible {
      border: 1px solid var(--gray-light);
    }
  }
}

.text {
  padding: 0;
  background: transparent;
  border: 0;
  height: auto;
  font-weight: inherit;
  color: inherit;
  &:hover,
  &:focus-visible {
    border: 0;
    text-decoration: underline;
  }
}

.icon {
  width: 1.1em;
  display: flex;
  position: absolute;
  right: 0.45em;
  top: 50%;
  transform: translateY(-50%);
  & > * {
    width: 100%;
    height: auto;
  }
}

.small {
  font-size: var(--ms--1);
  .icon {
    svg {
      height: 0.95em;
    }
  }
}
