@import 'vars';

.container {
  @extend %caption;
  grid-column: 1 / 4;
  grid-row: 1;
  margin-bottom: 0.5em;
  ul {
    display: flex;
    padding: 0 !important;
    gap: var(--padding);
    @include bp(m) {
      gap: 1em;
      max-width: 15em;
      flex-flow: column;
    }
  }

  @include bp(m) {
    grid-column: 3 / 4;
  }
  @include bp(l) {
    grid-column: 1 / 2;
  }
}

.person {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  &:before {
    display: none;
  }
  @include bp(m) {
    align-items: center;
  }
}

.name {
  display: block;
}
.institution {
  color: var(--gray-light);
}

.image {
  width: 2.5rem;
  flex-shrink: 0;
  transform-origin: center;
  background: var(--color);
  border-radius: 1000px;
  img {
    mix-blend-mode: multiply;
    filter: grayscale(1) contrast(2);
  }
}
