@import 'vars';

.container {
  @extend %caption;
  grid-column: 1 / 4;
  grid-row: 1;
  ul {
    display: flex;
    padding: 0 !important;
    list-style: none;
    border-radius: var(--br-small);
    flex-flow: column;
    overflow: hidden;
    @include bp(l) {
      max-width: 24em;
    }
    li {
      border-bottom: 1px solid var(--gray-dark);
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  @include bp(m) {
    grid-column: 3 / 4;
  }
  @include bp(l) {
    grid-column: 1 / 2;
  }
}

.person {
  padding: 0.5em 0;
  width: 100%;
  color: var(--white);
  text-align: left;
}

button.person {
  cursor: pointer;

  &:hover,
  &:focus-visible {
    .name {
      text-decoration: underline;
    }
  }
}

.name {
  display: block;
}
.institution {
  color: var(--gray-light);
}

.bio {
  @extend %caption;
  padding: 0.75em;
  hyphens: auto;
  max-width: Min(100vw - 4 * var(--padding), 28rem);
  p + p {
    margin-top: 0.5em;
  }
}
