@import 'vars';

.toggle {
  display: flex;
}

.container {
  text-align: left;
}

.feedback {
  @extend %caption;
  background: var(--lightgray);
  border-radius: var(--br-small);
  padding: 0.75rem;
  margin: var(--padding-small);
  p {
    opacity: 0.85;
  }
}

.success {
  @extend %caption;
  background: rgba(208, 248, 190, 0.377);
}
.error {
  @extend %caption;
  background: hsla(24, 96%, 90%, 0.2);
}

.privacy {
  @extend %caption;
  text-align: left;
  padding-top: 0.65em;
  color: var(--gray-light);
  a {
    text-decoration: underline;
  }
}
