@import 'vars';

.toggle {
  display: flex;
}

.container {
  text-align: left;
}

.feedback {
  @extend %caption;
  background: var(--lightgray);
  border-radius: var(--br);
  padding: 0.75rem 1rem;
  font-size: var(--ms-0);
  margin-bottom: 0.75rem;
  p {
    opacity: 0.85;
  }
}

.success {
  background: rgb(208, 248, 190);
}
.error {
  background: rgb(248, 237, 190);
}

.privacy {
  @extend %caption;
  font-size: var(--ms--1);
  text-align: left;
  padding-top: 0.6rem;
  color: var(--gray-dark);
  max-width: 20em;
}
