@import 'vars';

.container {
  border: 1px solid var(--black);
  padding-left: 0 !important;
  border-radius: var(--br);
  margin: 1em 0;
  margin-bottom: 1.5em !important;
  li {
    margin-bottom: 0 !important;
    &:before {
      display: none;
    }
    &:last-of-type {
      .choice {
        border-bottom: 0;
      }
    }
  }
}

.choice {
  margin-left: 0;
  padding: 1em;
  display: flex;
  border-bottom: 1px solid var(--black);
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
  color: var(--gray-dark);
  &:last-child {
    border-bottom: 0;
  }
}

.checked {
  color: var(--bla);
}
.description {
  @extend %caption;
  flex-grow: 1;
}

.checkbox {
  display: block;
  width: 1.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  top: 0.25rem;
  aspect-ratio: 1/1;
}
