@import 'vars';
.container {
  margin: calc(var(--baseline) / 2) 0;
  &:first-child {
    margin-top: 0;
  }
  grid-column: 1 / 4;
  @include bp(m) {
    grid-column: 1 / 3;
  }
  @include bp(l) {
    display: contents;
  }
}

.consent {
  @extend %caption;
  border: 1px solid var(--gray);
  padding: var(--padding-small);
  border-radius: var(--br-medium);
  @include bp(l) {
    margin-bottom: var(--baseline);
  }
}

.captions {
  @extend %caption;
  padding-top: 0.75em;

  @include bp(l) {
    padding-top: 0;
    grid-column: 1 / 2;
  }
}

.iframe-container {
  width: 100%;
  position: relative;
  @include bp(l) {
    grid-column: 1 / 3;
    margin-bottom: var(--baseline);
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.consent-controls {
  padding-top: 0.75em;
}

.active-controls {
  @extend %caption;
  color: var(--gray-light);
  line-height: 1;
}
