@import 'vars';

.container {
  border: 1px solid var(--black);
  padding-left: 0 !important;
  border-radius: var(--br);
  margin: 1em 0;
  margin-bottom: 1.5em !important;
  li {
    margin-bottom: 0 !important;
    &:before {
      display: none;
    }
    &:last-of-type {
      .choice {
        border-bottom: 0;
      }
    }
  }
}

.choice {
  margin-left: 0;
  padding: 0.75em;
  border-bottom: 1px solid var(--black);
  display: flex;
  span {
    font-size: var(--ms-1);
  }
  justify-content: space-between;
  &:hover,
  &:focus-visible {
    background: var(--gray-light);
    text-decoration: underline;
  }
  &:before {
    display: none;
  }
}
