@import 'vars';
.container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.consent {
  @extend %caption;
  border: 1px solid var(--black);
  border-radius: var(--br);
  padding: 1em;
}

.iframe-container {
  width: 100%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.consent-controls {
  padding-top: 0.75em;
}

.active-controls {
  color: var(--gray-dark);
  line-height: 1;
}

.caption {
  @extend %caption-bold;
  padding-top: 0.75em;
}
