.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  background: var(--black);
  transform: scale(1.1);
}

.cell {
  fill: var(--color);
  &:nth-child(2n) {
    opacity: 0.5;
  }
}
