@import 'vars';

.image {
  margin-bottom: 0.75rem;
  width: 100%;
}

.container {
  margin-bottom: calc(var(--baseline) * 0.75);
}

.captions {
  @extend %caption;
}

.credit {
  color: var(--gray-hover);
}

.medium {
  display: contents;
  .inner {
    grid-column: 1 / 3;
    @include bp(m) {
      display: contents;
    }
  }
  .image {
    grid-column: 1 / 3;
    margin-bottom: calc(var(--baseline) * 0.5);
    @include bp(l) {
      grid-column: 2 / 3;
    }
  }
  .captions {
    grid-column: 2 / 3;
  }
}

.large {
  display: contents;
  .inner {
    grid-column: 1 / 3;
    @include bp(m) {
      display: contents;
    }
  }
  .image {
    grid-column: 1 / 3;
  }
  .captions {
    grid-column: 1 / 2;
    margin-bottom: calc(var(--baseline) * 0.5);
  }

  img {
    max-height: 85vh;
  }
}

.full {
  display: contents;
  .inner {
    display: contents;
  }
  .image {
    grid-column: 1/4;
    @include bp(m) {
      margin-top: calc(var(--baseline) * 0.5);
      margin-bottom: calc(var(--baseline) * 0.5);
    }
  }
  .captions {
    margin-bottom: 1em;
    grid-column: 1 / 3;
    @include bp(l) {
      grid-column: 1 / 2;
      max-width: 20em;
    }
  }
}
