@import 'vars';

.captions {
  @extend %caption;
  align-self: flex-start;
  text-align: left;
  max-width: 36em;
  @include bp(m) {
    max-width: 55em;
    text-align: center;
    align-self: center;
  }
}

.credit {
  color: var(--gray-dark);
  display: block;
  font-size: var(--ms--1);
}

.image {
  margin-bottom: 0.75rem;
}

.container {
  margin-top: calc(var(--ms-1) * 0.75);
  margin-bottom: calc(var(--ms-1) * 0.75);
}

.medium {
  display: flex;
  flex-flow: column;
  align-items: center;
  img {
    max-width: 100%;
    max-height: 80vh;
  }
}

.large {
  grid-column: 1/4 !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 100%;
  text-align: center;

  img {
    max-height: 85vh;
  }
}

.full {
  display: contents;
  & > div {
    display: contents;
  }
  .image {
    grid-column: 1/4 !important;
    @include bp(m) {
      margin-top: calc(var(--ms-1) * 1.5);
    }
  }
  .captions {
    margin-bottom: 1em;
    grid-column: 2/3;
    @include bp(m) {
      margin-bottom: calc(var(--ms-1) * 1.5);
    }
  }
}
