@import 'vars';
a.container {
  display: flex;
  justify-content: space-between;
  background: var(--gray-light);
  padding: 1rem;
  border-radius: var(--br);
  text-decoration: none !important;
  border: 1px solid var(--gray-light);
  color: var(--black);
  &:hover,
  &:focus-visible {
    border: 1px solid var(--black);
  }
  svg {
    width: 2.5rem;
  }
}

.meta {
  @extend %caption;
  display: flex;
}

.type {
  @extend %caption-caps;
  &:after {
    padding-left: 0.25em;
    padding-right: 0.25em;
    content: '·';
  }
}
