@import 'vars';

.container {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  text-decoration: none !important;
  padding: .4em var(--padding-small);
  border: 1px solid var(--gray);
  margin-top: var(--baseline);
  border-radius: var(--br-medium);

  @include bp(m) {
    grid-column: 1 / 3;
  }
  @include bp(l) {
    grid-column: 2 / 3;
  }
  &:hover,
  &:focus-visible {
    background: rgba(white, 0.05);
  }
  svg {
    width: 1.5em;
  }
}

.title {
  font-family: var(--edge);
  letter-spacing: 0.025em;
  display: block;
  margin-bottom: -0.1em;
}

.list {
  list-style: none;
  border: 1px solid var(--gray);
  padding-left: 0 !important;
  border-radius: var(--br-medium);
}

.list-item {
  border-bottom: 1px solid var(--gray);
  margin-bottom: 0 !important;

  border-radius: 0;
  &:before {
    display: none;
  }
  &:last-child {
    border-bottom: 0;
  }
  .container {
    margin-top: 0;
    border: 0;
  }
}

.meta {
  @extend %caption;
  padding-top: 0.125em;
  color: var(--gray-light);
  display: flex;
}

.type {
  @extend %caption-caps;
  &:after {
    padding-left: 0.25em;
    padding-right: 0.25em;
    content: '·';
  }
}
