@import 'vars';
.container {
  border: 1px solid var(--gray);
  margin-bottom: var(--baseline);
  margin-top: calc(var(--baseline) * 0.5);
  counter-reset: items;
  border-radius: var(--br-medium);
  grid-column: 1 / 3;
  @include bp(l) {
    grid-column: 2 / 3;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.item {
  counter-increment: items;
  padding: var(--padding-small);
  list-style: none;
  border-bottom: 1px solid var(--gray);
  &:last-child {
    border-bottom: 0;
  }
}

.title {
  &:before {
    content: counter(items) '.';
    margin-right: 0.2em;
  }
}
