@import 'vars';
@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.975);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--black);
  z-index: 10000;
  transition: var(--slow);
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  svg {
    display: block;
    width: 35%;
    max-width: 25rem;
    animation: scale-in var(--slow) both;
    @include bp(m) {
      width: 25%;
    }
  }
  path {
    fill: white;
  }
}

.container-active {
  opacity: 1;
  pointer-events: all;
}
