@import 'vars';

.container {
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  path,
  rect {
    fill: white;
  }
  svg {
    height: 2em;
    @include bp(m) {
      width: auto;
      height: calc(var(--header-height) * 0.675);
    }
  }
}

.label {
  font-size: 0;
}
