@import 'vars';

.container {
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  width: calc(var(--width) * 0.6);
  @include bp(m) {
    width: var(--width);
  }
  path,
  rect {
    fill: white;
  }
  svg {
    height: 2em;
    @include bp(m) {
      height: calc(var(--header-height) * 0.675);
    }
  }
}

.label {
  font-size: 0;
  position: absolute;
}
