@import 'vars';

.container {
  background: var(--black);
  margin: 0 var(--padding);
  border-top: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  margin-top: -1px;
  z-index: 1000;
  position: relative;
}

.body {
  z-index: 100;
  position: relative;
  background: var(--black);
  margin: 0 var(--padding);
  padding: var(--padding-small) 0;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 30rem) 1fr;
  column-gap: var(--padding);
  @include bp(l) {
    grid-template-columns: 1fr minmax(min-content, 55rem) 1fr;
  }
}
