@import 'vars.scss';

.container {
  margin-top: 1.5rem;
}

.next {
  display: block;
  border: 1px solid var(--next-color);
  background-image: linear-gradient(to bottom, var(--next-color) 20%, transparent 90%);
  padding: 2em;
  text-align: center;
  border-radius: var(--br);
  text-decoration: none !important;
  margin-bottom: 0.5rem;
  .label {
    @extend %caption;
    display: inline-block;
    margin-bottom: 0.5em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid currentColor;
  }
  &:hover,
  &:focus-visible {
    .next-title {
      text-decoration: underline;
    }
  }
}

.next-title {
  @extend %h2;
  @include bp(m) {
    font-size: var(--ms-6);
    line-height: 1;
    letter-spacing: -0.035em;
  }
  font-weight: 800;
  display: block;
}

.next-intro {
  margin-top: 0.5em;
}

.previous {
  @extend %caption;
}
