@import 'vars';

.media {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-height: 100%;
  z-index: 50;
  min-width: 100%;
  .has-default & {
    display: contents;
  }
}

.container {
  background: var(--black);
  margin: 0 var(--padding);
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  z-index: 100;
  position: relative;
}

.wrapper {
  padding-top: var(--header-height);
}

.has-media {
  padding-top: calc(100vh - 16vw);
  &.has-default {
    padding-top: 30vh;
    @include bp(m) {
      padding-top: 50vh;
    }
  }
}

.title-container {
  padding: var(--padding);
  position: relative;
  border-bottom: 1px solid var(--gray);
  padding-bottom: calc(var(--padding) * 1.5);
  text-wrap: balance;
  @include bp(m) {
    padding-top: calc(var(--padding) * 1.15);
    padding-bottom: calc(var(--padding) * 1.25);
  }
}

.title {
  @extend %h1;
  display: inline;
}
.credit {
  @extend %caption;
  display: inline-block;
  margin-left: 2em;

  a {
    text-decoration: underline;
    text-decoration-color: var(--gray);
  }
}

.is-long {
  @extend %h1-long;
}

.intro {
  @extend %copy-large;
  padding: 0.5em var(--padding);
  padding-bottom: 0.4em;
  border-bottom: 1px solid var(--gray);
}

.has-portrait {
  gap: var(--padding);
  display: flex;
  flex-flow: column;
  @include bp(m) {
    display: grid;
    grid-template-columns: 4.2em 1fr;
  }
}
