@import 'vars';

.container {
  position: relative;
}

.hero-portrait {
  display: block;
  box-shadow: inset 0em -0.2em 0.5em rgba(black, 0.3);
  background: var(--color);
  height: calc(var(--baseline) * 7);
  border-radius: var(--br-medium);
  @include bp(m) {
    border-radius: 1000px;
    height: 100%;
  }
  img {
    mix-blend-mode: multiply;
    position: absolute !important;
    filter: grayscale(1) contrast(1.2);
  }
}

.credits {
  grid-column: 1/ 4;
  margin-bottom: var(--ms-0);
  @include bp(m) {
    grid-row: span 3;
    grid-column: 1/ 2;
  }
  @include bp(l) {
    margin-bottom: 0;
  }
}

.credit {
  @extend %caption;
  margin-top: 0.5em;
}

.copy {
  display: contents;
}
.body {
  z-index: 100;
  position: relative;
  background: var(--black);
  margin: 0 var(--padding);
  padding: var(--baseline) var(--padding);
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 30rem) 1fr;
  column-gap: var(--padding);
  @include bp(l) {
    grid-template-columns: 1fr minmax(min-content, 55rem) 1fr;
  }
}

.posts-nav {
  border-top: 1px solid var(--gray);
  grid-column: 1 / 4;
  padding-top: calc(var(--baseline) * 1);
  padding-bottom: calc(var(--baseline) * 1);
  margin: 0 calc(var(--padding) * -1);
  margin-top: var(--baseline);
  border-bottom: 1px solid var(--gray);
}
