@import 'vars';

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-50%) translateY(-8vh);
  flex-flow: column;
  align-items: center;
  gap: 1em;
}

.poster {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  transition: var(--slow);
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .media-active & {
    filter: brightness(0.3);
  }
}

.media {
  opacity: 0;
  z-index: 100;
  position: absolute;
  top: calc(var(--header-height) + var(--padding));
  left: 50%;
  transform: translateX(-50%) scale(0.985);
  width: 100%;
  height: 100%;
  max-width: calc(100% - var(--padding) * 2);
  max-height: calc(100% - var(--header-height) - 20vh - var(--padding) * 2);
  transition: var(--slow);
  pointer-events: none;
  visibility: hidden;
  
  .media-active & {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(-50%) scale(1);
  }
}

.media-inner {
  position: relative;
  box-shadow: 0 0 100px -20px black;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  aspect-ratio: 16 / 9;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  bottom: 0;
  background: #000;
}

.video {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.media-controls {
  position: absolute;
  z-index: 200;
  top: 8px;
  left: 8px;
}