@import 'vars';

.image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 90vh;
}
.container {
  background: var(--black);
  margin: 0 var(--padding);
  position: relative;
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
  margin-top: calc(var(--header-height) + var(--padding));
  z-index: 100;
}

.has-image {
  margin-top: 45vh;
}

.title-container {
  padding: var(--padding);
  border-bottom: 1px solid var(--gray);
  position: relative;
}

.eyebrow {
  display: block;
  font-family: var(--circa);
  margin-left: 0.35em;
  font-size: var(--ms-1);
  text-transform: capitalize;
}

.title {
  @extend %h1;
  hyphens: auto;
  padding-top: 0.125em;
  margin-bottom: -0.125em;
}
.is-long {
  @extend %h1-long;
}

.credit {
  @extend %caption;
  position: absolute;
  right: var(--padding);
  bottom: var(--padding);
  display: flex;
  align-items: flex-start;
  gap: 0.25em;
  svg {
    height: 1em;
    transform: translateY(-0.1em) rotate(-90deg);
  }
}

.intro {
  @extend %copy-large;
  padding: var(--padding-small) var(--padding);
  border-bottom: 1px solid var(--gray);
}
