@import 'vars';

.container {
  position: relative;
}

.list {
  display: flex;
  list-style: none;
  padding: var(--padding);
  @include bp(m) {
    padding: var(--padding);
    padding-top: var(--padding-small);
  }
}

.show-list {
  .list {
    padding: 0;
    grid-template-columns: max-content 1fr 0.5fr;
    display: grid;
    align-items: flex-start;
    gap: 0 var(--padding);
  }
  .group-label {
    border: 0;
    border-radius: 0;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    padding: 0.5em var(--padding);
    text-align: left;
    grid-column: 1 / 4 !important;
    width: 100%;
  }
  li {
    display: contents;
  }
  .item {
    border-bottom: 1px solid var(--gray-dark);
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: subgrid;
    align-items: flex-start;
    padding: 0.75em var(--padding);
    @include bp(m) {
      padding: var(--padding-small) var(--padding);
    }
  }
  li:last-of-type .item {
    border-bottom: 0;
  }
  .title {
    display: inline-block;
    justify-self: flex-start;
    grid-column: 1 / 4;
    margin-bottom: var(--padding-small);
    font-size: var(--ms-0);

    @include bp(s) {
      font-size: var(--ms-1);
      grid-column: 1 / 2;
      margin-bottom: 0;
    }
    @include bp(m) {
      font-size: var(--ms-2);
    }
  }
  .intro {
    display: block;
    hyphens: auto;
    grid-column: 1 / 4;
    @include bp(s) {
      grid-column: 2 / 4;
    }
    @include bp(l) {
      display: contents;
    }
    .authors {
      @extend %caption;
      margin-top: 0.25em;
      color: var(--gray-light);
      span {
        display: inline-block;
      }
      @include bp(m) {
        margin-top: 0.5em;
      }
      @include bp(l) {
        margin-top: 0;
        font-size: var(--ms--2);
      }
    }
  }
  .controls {
    position: static;
  }
}

.show-bubbles {
  .list {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--padding-small);
    &:before {
      @include bp(s) {
        content: '';
        height: 2rem;
        width: 6em;
      }
    }
  }
  .controls {
    @include bp(s) {
      position: absolute;
      border-bottom: 0;
    }
  }
}

.controls {
  display: flex;
  justify-content: flex-start;
  padding-top: var(--padding);
  padding-bottom: var(--padding-small);
  padding-left: var(--padding);
  border-bottom: 1px solid var(--gray-dark);
  @include bp(m) {
    padding-top: var(--padding-small);
  }
}

.item {
  position: relative;
  display: block;
  &:hover,
  &:focus-visible {
    filter: brightness(1.1);
    .title {
      transform: scale(1.01);
    }
  }
}

.title {
  @extend %copy;
  font-family: var(--edge);
  background: var(--color);
  border: 1px solid var(--color);
  letter-spacing: -0.02em;
  word-spacing: -0.05em;
  transition: var(--fast);
  font-size: var(--ms-1);
  outline-offset: 5px;
  text-wrap: balance;
  hyphens: none;
  text-align: center;
  padding: 0.2em 0.4em;
  padding-top: 0.15em;
  line-height: 1;
  border-radius: 1000px;
  color: var(--black);
  display: inline-block;
  @include bp(s) {
    font-size: var(--ms-2);
  }
  @include bp(m) {
    font-size: var(--ms-3);
  }
}

.has-prefix {
  padding-top: 0;
  padding-bottom: 0;
  display: inline-flex;
  align-items: baseline;
}

.title-prefix {
  display: inline-block;
  border-right: 1px solid var(--black);
  padding: 0.2em 0;
  padding-top: 0.15em;
  padding-right: 0.25em;
  margin-right: 0.2em;
}

.intro {
  @extend %caption;
  display: none;
  @include bp(m) {
    font-size: var(--ms-0);
    letter-spacing: 0.01em;
    word-spacing: 0.0075em;
    font-variation-settings: 'wght' 350;
  }
  @include bp(l) {
    font-size: var(--ms--1);
  }
}

.current {
  .title {
    background: transparent;
    text-shadow: none;
    color: var(--color);
  }
  .title-prefix {
    border-right: 1px solid var(--color);
  }
}

.meta {
  .title {
    background: transparent;
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--white);
  }
}

.group {
  display: contents;
}

.group-label {
  @extend .title;
  text-transform: capitalize;
  color: var(--white);
  border: 1px solid var(--gray);
  background: transparent;
  display: inline-block;
}

.is-pending {
  pointer-events: none;
  .title {
    opacity: 0.7;
    pointer-events: none;
  }
}

.published-date {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(-25%);
  date {
    @extend %caption;
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    color: black;
    padding: 0.1em 0.5em;
    border-radius: 500px;
    background: white;
  }
  svg {
    height: 0.75em;
    path {
      fill: currentColor;
    }
  }
  .show-list & {
    position: static;
    grid-row: 1 / 2;
    transform: none;
    grid-column: 2 / 3;
    date {
      background: transparent;
      border: 1px solid var(--gray);
      color: var(--gray-light);
      font-size: var(--ms--1);
    }
  }
}
