@import 'vars';

.image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1000;
  height: 90vh;
}
.container {
  background: var(--black);
  margin: 0 var(--padding);
  margin-top: 45vh;
  position: relative;
  border-top-left-radius: var(--br);
  border-top-right-radius: var(--br);
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    left: calc(var(--padding) * -1);
    right: calc(var(--padding) * -1);
    background: linear-gradient(to bottom, transparent 0%, var(--blue) 100%);
    z-index: -10;
  }
}

.title {
  @extend %h1;
  padding: var(--padding-small) var(--padding);
  padding-bottom: var(--padding);
  padding-top: 0.35em;
  border-bottom: 1px solid var(--gray);
}

.intro {
  @extend %copy-large;
  padding: var(--padding-small) var(--padding);
}
