@import 'vars';

.container {
  display: contents;
  &:before {
    content: '';
    display: block;
    border-top: 1px solid var(--gray);
    margin-top: var(--baseline);
    grid-column: 2 / 4;
  }
}

.text {
  @extend %copy-large;
  grid-column: 2 / 3;
  padding-top: calc(var(--baseline) * 0.5);
  margin-bottom: calc(var(--baseline) * 1);
}
.cite {
  @extend %caption;
  padding-top: calc(var(--baseline) * 1.05);
  text-wrap: balance;
  font-style: normal;
  grid-column: 3 / 4;
  max-width: 12em;
  hyphens: none;
}
