@import 'vars';

.container {
  display: contents;
  &:before {
    content: '';
    display: block;
    border-top: 1px solid var(--gray);
    margin-top: calc(var(--baseline) * 0.5);
    grid-column: 1 / 4;
    @include bp(l) {
      grid-column: 2 / 4;
    }
  }
}

.text {
  @extend %copy-large;
  grid-column: 1 / 4;
  @include bp(m) {
    grid-column: 1 / 3;
  }
  @include bp(l) {
    grid-column: 2 / 3;
  }
  padding-top: calc(var(--baseline) * 0.5);
  margin-bottom: calc(var(--baseline) * 1);
}
.cite {
  @extend %caption;
  padding-top: calc(var(--baseline) * 1.05);
  text-wrap: balance;
  font-style: normal;
  grid-column: 3 / 4;
  max-width: 15em;
  hyphens: none;
  justify-self: flex-end;
}
