@import 'vars';

.container {
  position: relative;
  z-index: 5000;
  min-width: 1.85em;
  height: 100%;
  display: flex;
  align-items: center;
}

.input {
  background: transparent;
  color: var(--white);
  font-family: inherit;
  width: 0;
  transition: var(--slow);
  border: 0;
  &:focus {
    outline: 0;
    padding-left: 1.75em;
    width: 5em;
    @include bp(m) {
      width: 10em;
    }
  }
}

.label {
  position: absolute;
  z-index: 5000;
  cursor: pointer;
  height: 100%;
  width: 100%;
  svg {
    width: 0.88em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0.5em;
    transform: translateY(-50%);
  }
  path {
    fill: white;
  }
}

.label-text {
  position: absolute;
  font-size: 0;
  left: -9999px;
}

.choices {
  border: 1px solid var(--gray);
  position: absolute;
  list-style: none;
  background: var(--black);
  border-radius: var(--br-medium);
  width: Min(calc(100vw - var(--padding) * 2), 20em);
  top: calc(100% + 0.5em);
  opacity: 0;
  transition: var(--fast);
  transform: translateY(-5px) translateX(50%);
  overflow: hidden;
  right: -1px;
}

.choices-active {
  opacity: 1;
  transform: translateY(0) translateX(50%);
}

.choice {
  @extend %copy;
  border-bottom: 1px solid var(--gray-dark);
  padding: 0.4em 0.65em;
  padding-bottom: 0.25em;
  display: flex;
  gap: 1em;
  hyphens: none;
  justify-content: space-between;
  align-items: baseline;
  &:last-child {
    border-bottom: 0;
  }
}

.choice-title {
  display: block;
  line-height: 1.15;
}

.choice-authors {
  @extend %caption;
  color: var(--gray-light);
  display: block;
  margin-top: -0.1em;
  margin-bottom: 0.2em;
}

.choice-type {
  @extend %caption;
  color: var(--gray-light);
  white-space: nowrap;
}

.selected {
  background: var(--black-hover);
  cursor: pointer;
}
