@import 'vars';

.container {
  @extend %caption;
  display: flex;
  color: var(--gray-light);
  background: var(--black);
  padding: 0 var(--padding);
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 var(--padding);
  z-index: 1000;
  position: absolute;
  height: var(--footer-height);
  flex-flow: column;
  justify-content: center;
  gap: 0.25em;
  @include bp(s) {
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
  }
  @include bp(l) {
    padding: 0;
  }
}
.nav {
  justify-content: space-between;
  ul {
    display: flex;
    gap: 1em;
    list-style: none;
  }
}

.link {
  &:hover,
  &:focus-visible {
    text-decoration: underline;
    color: var(--white);
  }
}

.meta {
  display: flex;
  gap: 1em;
  align-items: baseline;
}
