@import 'vars';

.container {
  @extend %caption;
  display: flex;
  color: var(--gray-light);
  background: var(--black);
  padding: 0 var(--padding);
  margin: 0 var(--padding);
  padding-top: 1.5em;
  padding-bottom: 2em;
  z-index: 1000;
  flex-flow: column;
  justify-content: center;
  gap: 0.25em;
  position: relative;
  @include bp(s) {
    justify-content: space-between;
    align-items: center;
    flex-flow: row-reverse;
  }
  @include bp(l) {
    padding: 1em 0;
  }
}
.nav {
  justify-content: space-between;
  margin-bottom: 0.35em;
  ul {
    display: flex;
    gap: 0.65em;
    list-style: none;
  }
}

.link {
  &:hover,
  &:focus-visible {
    text-decoration: underline;
    color: var(--white);
  }
}

.meta {
  display: flex;
  gap: 1em;
  align-items: baseline;
  font-size: 0.85em;
}

.logo {
  svg {
    display: block;
    height: 3rem;
    width: auto;
    margin-bottom: 0.5rem;
  }
  path {
    fill: white;
  }
}
