.container {
  position: fixed;
  top: 0;
  left: var(--padding);
  right: var(--padding);
  font-family: var(--edge-rounded);
  z-index: 2000;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: var(--header-height);
  border-top: 0;
}

.logo {
  background-color: var(--black);
  border-bottom-left-radius: calc(0.5 * var(--br));
  border-bottom-right-radius: calc(0.5 * var(--br));
  border: 1px solid var(--gray);
  border-top: 0;
  display: flex;
  padding: 0 0.65rem;
  transition: border-color var(--fast);
  align-items: center;
  height: var(--header-height);
  &:hover,
  &:focus-visible {
    background: rgb(19, 19, 19);
  }
}

.nav {
  border: 1px solid var(--gray);
  display: flex;
  background: var(--black);
  border-bottom-left-radius: calc(0.5 * var(--br));
  border-bottom-right-radius: calc(0.5 * var(--br));
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: var(--ms-0);
  padding: 0.35em 0.65em;
  color: var(--white);
  border-right: 1px solid var(--gray);
  &:last-child {
    border-right: 0;
  }
}

.bookmarks-container {
  position: fixed;
  background: var(--black);
  top: 3.5rem;
  max-width: 30rem;
  right: var(--padding);
  opacity: 0;
  border: 1px solid var(--gray);
  border-radius: var(--br-medium);
}

.bookmarks-container-active {
  opacity: 1;
}

.backdrop {
  display: none;
}
