@import 'vars';
.container {
  position: fixed;
  top: 0;
  left: var(--padding);
  right: var(--padding);
  font-family: var(--edge-rounded);
  z-index: 2000;
  display: flex;
  align-items: flex-start;
  border-top: 0;
  flex-flow: column;
  height: var(--header-height);
  @include bp(m) {
    flex-flow: row;
    justify-content: space-between;
  }
}

.logo {
  background-color: var(--black);
  border-bottom-right-radius: calc(0.5 * var(--br));
  border: 1px solid var(--gray);
  border-top: 0;
  display: flex;
  padding: 0 0.65rem;
  transition: border-color var(--fast);
  align-items: center;
  flex-basis: 1rem;
  flex-shrink: 1;
  @include bp(m) {
    border-bottom-left-radius: calc(0.5 * var(--br));
    height: var(--header-height);
  }
  &:hover,
  &:focus-visible {
    background: rgb(19, 19, 19);
  }
}

.nav {
  border: 1px solid var(--gray);
  display: flex;
  background: var(--black);
  border-bottom-left-radius: calc(0.5 * var(--br));
  border-bottom-right-radius: calc(0.5 * var(--br));
  margin-top: -1px;
  @include bp(m) {
    border-top: 0;
    margin-top: 0;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  font-size: var(--ms-0);
  padding: 0.35em 0.65em;
  color: var(--white);
  border-right: 1px solid var(--gray);
  cursor: pointer;
  padding-bottom: 0.45em;
  @include bp(m) {
    padding: 0.2em 0.6em;
    padding-bottom: 0.3em;
  }
  &:last-child {
    border-right: 0;
  }
  &:hover,
  &:focus-visible {
    .nav-label {
      text-decoration: underline;
    }
  }
}

.nav-search {
  @extend .nav-item;
  padding: 0;
  height: 1.8em;
  display: flex;
}

.bookmarks-container {
  position: fixed;
  background: var(--black);
  width: 90%;
  max-width: 30rem;
  right: var(--padding);
  opacity: 0;
  border: 1px solid var(--gray);
  border-radius: var(--br-medium);
  overflow: hidden;
  transition: var(--fast);
  transform: translateY(-5px);
  pointer-events: none;
  visibility: hidden;
  top: calc(var(--header-height) + var(--padding-small));
  left: var(--padding);
  z-index: 5000;
  @include bp(m) {
    left: auto;
    right: var(--padding);
    top: calc(var(--ms-0) * 2.5);
  }
}

.bookmarks-container-active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: all;
}

.bookmarks-counter {
  font-size: 0.75em;
  aspect-ratio: 1 / 1;
  display: inline-flex;
  border: 1px solid var(--gray-light);
  align-items: center;
  justify-content: center;
  font-feature-settings: 'tnum' 1;
  border-radius: 1000px;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: 0.05em;
  margin-left: 0.35em;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1500;
  font-size: 0;
  visibility: hidden;
  pointer-events: none;
  background: rgba(black, 0.75);
  @include bp(m) {
    background: transparent;
  }
}
.backdrop-active {
  visibility: visible;
  pointer-events: all;
}
