.container {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--black);
  font-family: var(--edge-rounded);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding);
  border-bottom: 1px solid var(--gray);
}

.logo {
  border-left: 1px solid var(--gray);
  padding: var(--padding-small) var(--padding);
}

.nav {
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  display: flex;
}
.nav-item {
  display: block;
  padding: var(--padding-small) var(--padding);
}
