@import 'vars';
.container {
  position: relative;
}
.remaining {
  @extend %caption;
  color: var(--gray-dark);
  position: absolute;
  top: -1.5rem;
  right: 0;
}

.warning {
  color: rgb(243, 144, 78);
}
