@import '../components/vars';

.container {
}

.hero {
  @extend %grid;
  color: var(--white);
  position: relative;
  padding: var(--padding);
  min-height: 75vh;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

// each chevron side is 1/3
// the whole thing is normally square but we can't really have that

.hero-title {
  @extend %h1;
  grid-column: 2 / 10;
  z-index: 200;
}
.hero-intro {
  @extend %copy-large;
  grid-column: 2 / 11;
  z-index: 200;
}

.hero-blue {
  bottom: 0;
  right: var(--padding);
  left: var(--padding);
  top: 0;
  z-index: 100;
  position: absolute;
  background: var(--blue);
  mask: var(--mask);
}

.hero-black {
  left: calc(var(--padding) * -2);
  bottom: 0;
  right: 0;
  top: calc(var(--corner-size) * -1.5);
  z-index: 50;
  position: absolute;
  filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.2));
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue-dark);
    mask: var(--mask);
  }
}

.current {
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-bottom: var(--padding);
  background: var(--fc-dark);
}

.current-inner {
  @extend %grid;
  padding-top: calc(var(--corner-size) * sqrt(2) + 6em);
  margin-top: calc(var(--corner-size) * sqrt(2) * -1);
  position: relative;
  z-index: 75;
  align-items: baseline;
  mask: var(--mask);
  padding-bottom: 20em;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
    background: linear-gradient(to bottom, var(--fc-primary) 25rem, transparent 100%);
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(-1 * var(--padding));
    right: 0;
    bottom: calc(100% - var(--corner-size) * sqrt(2) - var(--padding) * 2);
    z-index: -5;
    background: var(--blue);
    opacity: 0.4;
    mask: var(--mask);
  }
}

.current-image {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -20;
}

.current-intro {
  @extend %h3;
  padding-top: 0.5em;
  text-wrap: balance;
  font-variation-settings: 'wght' 400;
}

.section-title {
  grid-column: 2 / 5;
  @extend %caps;
}
.current-issue {
  grid-column: 5 / 12;
}

.current-title {
  @extend %h2;
  &:hover,
  &:focus-visible {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}

.archive {
  @extend %grid;
  background: var(--gray-light);
  align-items: baseline;
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.archive-list {
  grid-column: 5 / 12;
  list-style: none;
}

.archive-title {
  @extend %h4;
}
.archive-item {
  border-bottom: 1px dotted var(--black);
  padding-bottom: 1em;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.archive-intro {
  @extend %copy;
}
