/* This file loads font files for static printing */
@font-face {
  font-family: 'MDIO';
  font-weight: 400;
  src: url('../src/assets/fonts/MDIO0.5-Regular.woff') format('woff'), url('../src/assets/fonts/MDIO0.5-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Publico';
  font-weight: 600;
  src: url('../src/assets/fonts/PublicoText-Bold-Trial.otf') format('opentype');
}
@font-face {
  font-family: 'Publico';
  font-weight: 600;
  font-style: italic;
  src: url('../src/assets/fonts/PublicoText-BoldItalic-Trial.otf') format('opentype');
}

@font-face {
  font-family: 'Atlas';
  font-weight: 400;
  src: url('../src/assets/fonts/AtlasGrotesk-Light-Trial.otf') format('opentype');
}
@font-face {
  font-family: 'Atlas';
  font-weight: 400;
  font-style: italic;
  src: url('../src/assets/fonts/AtlasGrotesk-LightItalic-Trial.otf') format('opentype');
}
@font-face {
  font-family: 'Atlas';
  font-weight: 500;
  src: url('../src/assets/fonts/AtlasGrotesk-Regular-Trial.otf') format('opentype');
}
@font-face {
  font-family: 'Atlas';
  font-weight: 500;
  font-style: italic;
  src: url('../src/assets/fonts/AtlasGrotesk-RegularItalic-Trial.otf') format('opentype');
}
@font-face {
  font-family: 'Atlas';
  font-weight: 600;
  src: url('../src/assets/fonts/AtlasGrotesk-Bold-Trial.otf') format('opentype');
}
@font-face {
  font-family: 'Atlas';
  font-weight: 600;
  font-style: italic;
  src: url('../src/assets/fonts/AtlasGrotesk-BoldItalic-Trial.otf') format('opentype');
}

body {
  font-family: Publico;
}
