@page {
  size: A4;
  margin: 48pt;
  margin-top: 36pt;
  @top-left {
    content: string(runningTitle);
    font-size: 8pt;
    align-items: flex-start;
    padding-top: 20pt;
    font-weight: bold;
  }
  @top-right {
    content: 'EUNPDC eLearning';
    font-size: 8pt;
    font-weight: bold;
    align-items: flex-start;
    padding-top: 20pt;
  }
  @bottom-left {
    content: counter(page);
    font-size: 8pt;
  }
}

:root {
  --ms-0: 9.5pt;
  --line-height: 12pt;
  --indent: 12pt;
  --sans: 'Atlas', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --serif: 'Publico', serif;
  --mono: 'MDIO', serif;
}

.running {
  position: running(titleRunning);
  gap: 10rem;
  font-size: 10pt;
  display: flex;
  align-items: center;
  font-family: var(--helvetica);
  transform-origin: center;
  padding: 0.1em 0.5em;
  letter-spacing: -0.02em;
  line-height: 1;
  width: 250mm;
  text-align: center;
}

.chapter {
  font-size: var(--ms-0);
  line-height: 12pt;
  break-before: page;
}

.chapterHeader {
  padding-bottom: 24pt;
  border-top: 2pt solid currentColor;
  border-bottom: 1pt solid currentColor;
}

.chapterTitle {
  font-size: 23pt;
  line-height: 24pt;
  letter-spacing: -0.01em;
  font-family: var(--serif);
  string-set: runningTitle content(text);
}

.chapterIntro {
  font-size: 15pt;
  line-height: calc(var(--line-height) * 1.5);
  margin-top: -6pt;
}

.chapterContent {
  columns: 2;
  column-gap: 16pt;
  padding-top: var(--line-height);
  column-rule: 0.25pt solid currentColor;
  hyphens: auto;
}
h2 {
  font-weight: bold;
  font-size: 12pt;
  line-height: 12pt;
  font-family: sans-serif;
  margin-top: 10.5pt;
  margin-bottom: 13pt;
}
h2:first-child {
  margin-top: 0;
}

img {
  max-width: 100%;
  display: block;
  margin-bottom: 2pt;
}

figcaption {
  font-size: 6.5pt;
}

.unitTitle {
  font-size: 36pt;
  font-family: var(--serif);
}
.unitIntro {
  font-size: 18pt;
}

.chapterContent h3 {
  font-weight: bold;
  font-size: 9pt;
  margin-top: 12pt;
}
.chapterContent p + p {
  text-indent: var(--indent);
}

.chapterContent .footnotes {
  border-top: 0;
  padding-top: var(--line-height);
  margin-top: 0;
  font-size: 6pt;
  line-height: calc(var(--line-height) * 0.75);
}
.chapterContent .footnotes ol {
  columns: 1;
}

ul,
ol {
  margin-left: var(--indent);
}

li {
  margin-bottom: 0;
  display: block;
}

sup {
  position: absolute;
  font-size: 6pt;
}
blockquote {
  margin: 0;
}

table {
  font-size: 8pt;
  column-span: all;
  margin: 1em 0;
}
td,
th {
  padding: 0.5pt 2pt;
  padding-right: 1.5em;
  border-bottom: 0.25pt solid currentColor;
}
th {
  font-weight: bold;
  text-align: left;
  border-bottom: 1pt solid currentColor;
}
